.banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 670px;
  padding-top: 25px; }
  @media screen and (max-width: 900px) {
    .banner {
      min-height: 500px; } }
  @media screen and (max-width: 750px) {
    .banner {
      min-height: 630px; } }
  .banner .menu {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
    text-align: center;
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;
    transition: all .5s; }
    .banner .menu a {
      color: #fff;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 20px; }
      @media screen and (max-width: 750px) {
        .banner .menu a {
          display: block;
          width: 120px;
          margin: 0 auto;
          margin-bottom: 10px; } }
      .banner .menu a:hover {
        color: #000; }
    .banner .menu .close-menu {
      background-image: url("../img/into.png");
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      top: 35px;
      left: calc(50% + 300px); }
      @media screen and (max-width: 750px) {
        .banner .menu .close-menu {
          top: 5px;
          left: calc(100% - 50px); } }
  .banner .header {
    display: flex;
    justify-content: space-between; }
    .banner .header .logo {
      width: 250px; }
      @media screen and (max-width: 750px) {
        .banner .header .logo {
          width: 150px; } }
    .banner .header .open-menu {
      background-image: url("../img/menu.png");
      background-repeat: no-repeat;
      width: 30px;
      height: 25px;
      margin-top: 20px;
      cursor: pointer; }
      @media screen and (max-width: 750px) {
        .banner .header .open-menu {
          margin-top: 0; } }
  .banner .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; }
    @media screen and (max-width: 750px) {
      .banner .title {
        flex-direction: column;
        margin-top: 40px; } }
    .banner .title .title-avatar-thumb {
      border: 1px solid #fff;
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
      @media screen and (max-width: 750px) {
        .banner .title .title-avatar-thumb {
          width: 200px;
          height: 200px; } }
      .banner .title .title-avatar-thumb .title-avatar-photo {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        overflow: hidden;
        background-image: url("../img/avatar.jpg");
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: -10px 0; }
        @media screen and (max-width: 750px) {
          .banner .title .title-avatar-thumb .title-avatar-photo {
            width: 180px;
            height: 180px;
            background-size: 220px; } }
    .banner .title .title-info {
      text-align: center;
      margin-left: 30px; }
      @media screen and (max-width: 750px) {
        .banner .title .title-info {
          margin-top: 30px; } }
      .banner .title .title-info h1 {
        color: #fff;
        font-size: 25px;
        letter-spacing: 5px; }
      .banner .title .title-info .subline {
        display: block;
        width: 280px;
        height: 2px;
        background-color: #20e6b0;
        margin: 17px auto; }
      .banner .title .title-info p {
        color: #fff;
        font-size: 25px;
        text-transform: uppercase; }
      .banner .title .title-info .button {
        display: inline-block;
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 13px 20px;
        font-size: 20px;
        color: #fff;
        margin-top: 40px; }
        @media screen and (max-width: 750px) {
          .banner .title .title-info .button {
            font-size: 16px; } }
        .banner .title .title-info .button:hover {
          border-color: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.wrapper {
  margin: 0 80px; }
  @media screen and (max-width: 750px) {
    .wrapper {
      margin: 0 10px; } }
  @media screen and (min-width: 1750px) {
    .wrapper {
      max-width: 1750px;
      margin: 0 auto; } }

a {
  text-decoration: none; }

h1, h2 {
  text-transform: uppercase;
  color: #111; }

h2.section-title {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 10px;
  color: #fff; }

section {
  padding: 70px 0; }

p {
  color: #555;
  font-size: 17px; }

.section-image {
  margin: 30px 0; }

ul {
  list-style: none; }

.about {
  text-align: center; }
  .about h2 {
    color: #111; }
  .about p {
    line-height: 1.7em;
    margin: 10px 80px 0; }
    @media screen and (max-width: 750px) {
      .about p {
        margin: 10px 20px 0; } }
  .about .socials ul {
    display: flex;
    justify-content: center; }
    .about .socials ul a {
      background-image: url("../img/sprites.png");
      background-repeat: no-repeat;
      background-size: 400px;
      display: block;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      margin: 50px 10px 0 10px;
      transition: .4s; }
      @media screen and (max-width: 750px) {
        .about .socials ul a {
          width: 50px;
          height: 50px;
          background-size: 225px; } }
    .about .socials ul a.instagram {
      background-position: -4px -4px; }
      @media screen and (max-width: 750px) {
        .about .socials ul a.instagram {
          background-position: 0 0; } }
      .about .socials ul a.instagram:hover {
        background-position: -4px -90px; }
        @media screen and (max-width: 750px) {
          .about .socials ul a.instagram:hover {
            background-position: 0 -50px; } }
    .about .socials ul a.telegram {
      background-position: -94px -4px; }
      @media screen and (max-width: 750px) {
        .about .socials ul a.telegram {
          background-position: -50px 0; } }
      .about .socials ul a.telegram:hover {
        background-position: -94px -90px; }
        @media screen and (max-width: 750px) {
          .about .socials ul a.telegram:hover {
            background-position: -50px -50px; } }
    .about .socials ul a.vk {
      background-position: -194px -7px; }
      @media screen and (max-width: 750px) {
        .about .socials ul a.vk {
          background-position: -110px -3px; } }
      .about .socials ul a.vk:hover {
        background-position: -194px -95px; }
        @media screen and (max-width: 750px) {
          .about .socials ul a.vk:hover {
            background-position: -110px -53px; } }
    .about .socials ul a.whatsapp {
      background-position: -294px -7px; }
      @media screen and (max-width: 750px) {
        .about .socials ul a.whatsapp {
          background-position: -163px -3px; } }
      .about .socials ul a.whatsapp:hover {
        background-position: -294px -95px; }
        @media screen and (max-width: 750px) {
          .about .socials ul a.whatsapp:hover {
            background-position: -160px -53px; } }

.my-skills {
  background-color: #1abc9c;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 150px;
  position: relative; }
  @media screen and (max-width: 750px) {
    .my-skills {
      padding-bottom: 100px; } }
  .my-skills::before {
    content: '';
    border-top: 70px solid #fff;
    border-right: 96vw solid #1abc9c;
    position: absolute;
    top: 0;
    left: 0; }
  .my-skills .skills-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px; }
    @media screen and (max-width: 750px) {
      .my-skills .skills-block {
        display: block; } }
    @media screen and (max-width: 750px) {
      .my-skills .skills-block .skills-item {
        display: block;
        width: 172px;
        margin: 0 auto; } }
    .my-skills .skills-block .skills-item .html {
      position: relative;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background-color: #fff; }
      .my-skills .skills-block .skills-item .html::before {
        position: absolute;
        left: 0;
        content: '';
        background-color: #fff;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(325deg);
        z-index: 1; }
      .my-skills .skills-block .skills-item .html::after {
        position: absolute;
        left: 0;
        content: '';
        background-color: #6ed4c0;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(0deg); }
      .my-skills .skills-block .skills-item .html .progressbar-circle {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 146px;
        height: 146px;
        background-color: #1abc9c;
        border-radius: 50%;
        z-index: 2; }
        .my-skills .skills-block .skills-item .html .progressbar-circle::before {
          content: '%';
          color: #fff;
          display: block;
          font-size: 30px;
          position: absolute;
          left: calc(50% + 16px);
          top: calc(50% - 15px); }
        .my-skills .skills-block .skills-item .html .progressbar-circle::after {
          content: "90.2777777778%";
          color: #fff;
          display: block;
          font-size: 30px;
          width: 33px;
          overflow: hidden;
          margin: 0 auto;
          position: absolute;
          left: calc(50% - 17px);
          top: calc(50% - 15px); }
    .my-skills .skills-block .skills-item .css {
      position: relative;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background-color: #fff; }
      .my-skills .skills-block .skills-item .css::before {
        position: absolute;
        left: 0;
        content: '';
        background-color: #fff;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(270deg);
        z-index: 1; }
      .my-skills .skills-block .skills-item .css::after {
        position: absolute;
        left: 0;
        content: '';
        background-color: #6ed4c0;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(0deg); }
      .my-skills .skills-block .skills-item .css .progressbar-circle {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 146px;
        height: 146px;
        background-color: #1abc9c;
        border-radius: 50%;
        z-index: 2; }
        .my-skills .skills-block .skills-item .css .progressbar-circle::before {
          content: '%';
          color: #fff;
          display: block;
          font-size: 30px;
          position: absolute;
          left: calc(50% + 16px);
          top: calc(50% - 15px); }
        .my-skills .skills-block .skills-item .css .progressbar-circle::after {
          content: "75%";
          color: #fff;
          display: block;
          font-size: 30px;
          width: 33px;
          overflow: hidden;
          margin: 0 auto;
          position: absolute;
          left: calc(50% - 17px);
          top: calc(50% - 15px); }
    .my-skills .skills-block .skills-item .javascript {
      position: relative;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background-color: #fff; }
      .my-skills .skills-block .skills-item .javascript::before {
        position: absolute;
        left: 0;
        content: '';
        background-color: #6ed4c0;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(270deg);
        transform: rotate(325deg);
        z-index: 1; }
      .my-skills .skills-block .skills-item .javascript::after {
        position: absolute;
        left: 0;
        content: '';
        background-color: #6ed4c0;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(0deg); }
      .my-skills .skills-block .skills-item .javascript .progressbar-circle {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 146px;
        height: 146px;
        background-color: #1abc9c;
        border-radius: 50%;
        z-index: 2; }
        .my-skills .skills-block .skills-item .javascript .progressbar-circle::before {
          content: '%';
          color: #fff;
          display: block;
          font-size: 30px;
          position: absolute;
          left: calc(50% + 16px);
          top: calc(50% - 15px); }
        .my-skills .skills-block .skills-item .javascript .progressbar-circle::after {
          content: "25%";
          color: #fff;
          display: block;
          font-size: 30px;
          width: 33px;
          overflow: hidden;
          margin: 0 auto;
          position: absolute;
          left: calc(50% - 17px);
          top: calc(50% - 15px); }
    .my-skills .skills-block .skills-item .bootstrap {
      position: relative;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background-color: #fff; }
      .my-skills .skills-block .skills-item .bootstrap::before {
        position: absolute;
        left: 0;
        content: '';
        background-color: #fff;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(219deg);
        z-index: 1; }
      .my-skills .skills-block .skills-item .bootstrap::after {
        position: absolute;
        left: 0;
        content: '';
        background-color: #6ed4c0;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        clip: rect(0, 85px, 170px, 0);
        transform-origin: 50% 50%;
        transform: rotate(0deg); }
      .my-skills .skills-block .skills-item .bootstrap .progressbar-circle {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 146px;
        height: 146px;
        background-color: #1abc9c;
        border-radius: 50%;
        z-index: 2; }
        .my-skills .skills-block .skills-item .bootstrap .progressbar-circle::before {
          content: '%';
          color: #fff;
          display: block;
          font-size: 30px;
          position: absolute;
          left: calc(50% + 16px);
          top: calc(50% - 15px); }
        .my-skills .skills-block .skills-item .bootstrap .progressbar-circle::after {
          content: "60.8333333333%";
          color: #fff;
          display: block;
          font-size: 30px;
          width: 33px;
          overflow: hidden;
          margin: 0 auto;
          position: absolute;
          left: calc(50% - 17px);
          top: calc(50% - 15px); }
    .my-skills .skills-block .skills-item .skills-name {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      margin-top: 25px; }
      @media screen and (max-width: 750px) {
        .my-skills .skills-block .skills-item .skills-name {
          margin-top: 5px;
          margin-bottom: 30px; } }

.portfolio {
  background-image: url("../img/port-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 150px; }
  .portfolio p {
    color: #fff;
    line-height: 1.7em; }
  .portfolio .works {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px; }
    @media screen and (max-width: 750px) {
      .portfolio .works {
        flex-direction: column;
        align-items: center; } }
    .portfolio .works .works-item {
      width: 33%;
      cursor: pointer;
      position: relative; }
      @media screen and (max-width: 750px) {
        .portfolio .works .works-item {
          width: 95%; } }
      .portfolio .works .works-item:hover .works-info {
        transform: scale(1); }
      .portfolio .works .works-item img {
        width: 100%;
        height: 100%; }
      .portfolio .works .works-item .works-info {
        position: absolute;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 200, 100, 0.7);
        top: 0;
        left: 0;
        padding-top: calc(50% - 50px);
        transition: .5s;
        transform: scale(0); }
        .portfolio .works .works-item .works-info h3 {
          color: #eee;
          font-weight: normal;
          font-size: 24px; }
        .portfolio .works .works-item .works-info p {
          font-size: 16px;
          color: #eee;
          margin: 5px 0 20px; }
        .portfolio .works .works-item .works-info a {
          color: #eee;
          text-transform: uppercase;
          border: 2px solid #eee;
          padding: 10px 20px;
          font-weight: bold; }
          .portfolio .works .works-item .works-info a:hover {
            border-color: #000; }

.contacts {
  background-color: #52edc7;
  margin-top: -1px;
  text-align: center;
  position: relative;
  padding-bottom: 20px; }
  .contacts .section-title {
    color: #111; }
  .contacts .contact-title {
    color: #222;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    display: inline-block; }
    .contacts .contact-title::after {
      content: '';
      width: calc(100% + 30px);
      height: 1px;
      background-color: #222;
      position: absolute;
      left: 0;
      bottom: -30px; }
      @media screen and (max-width: 750px) {
        .contacts .contact-title::after {
          bottom: -15px; } }
  .contacts .contact-block {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 40px; }
    @media screen and (max-width: 750px) {
      .contacts .contact-block {
        flex-direction: column; } }
    .contacts .contact-block .contact-adress {
      width: 40%; }
      @media screen and (max-width: 750px) {
        .contacts .contact-block .contact-adress {
          width: 100%; } }
      .contacts .contact-block .contact-adress p {
        color: #222;
        line-height: 1.6em;
        margin-top: 80px;
        font-size: 18px; }
        @media screen and (max-width: 750px) {
          .contacts .contact-block .contact-adress p {
            line-height: 1.2em;
            margin-top: 40px; } }
      .contacts .contact-block .contact-adress span {
        display: block;
        font-weight: bold;
        font-size: 18px;
        margin-top: 40px; }
      .contacts .contact-block .contact-adress a:hover {
        color: #fff; }
      .contacts .contact-block .contact-adress a.contact-mail {
        font-size: 18px;
        display: inline-block;
        margin: 40px 0; }
        @media screen and (max-width: 750px) {
          .contacts .contact-block .contact-adress a.contact-mail {
            margin: 15px 0; } }
      .contacts .contact-block .contact-adress a.contact-adress {
        font-size: 18px;
        font-weight: bold; }
    .contacts .contact-block .contact-form {
      width: 55%; }
      @media screen and (max-width: 750px) {
        .contacts .contact-block .contact-form {
          width: 100%;
          padding-top: 50px;
          text-align: center; } }
      .contacts .contact-block .contact-form .form {
        margin-top: 100px; }
        @media screen and (max-width: 750px) {
          .contacts .contact-block .contact-form .form {
            margin-top: 50px; } }
        .contacts .contact-block .contact-form .form input, .contacts .contact-block .contact-form .form textarea, .contacts .contact-block .contact-form .form button {
          border: none;
          border-radius: 3px;
          border: 2px solid #fff; }
          .contacts .contact-block .contact-form .form input:hover, .contacts .contact-block .contact-form .form textarea:hover, .contacts .contact-block .contact-form .form button:hover {
            border-color: #40c4a4; }
        .contacts .contact-block .contact-form .form input {
          height: 60px;
          padding: 0 15px;
          font-size: 18px;
          width: 48%; }
          @media screen and (max-width: 750px) {
            .contacts .contact-block .contact-form .form input {
              width: 100%; } }
          @media screen and (max-width: 1227px) {
            .contacts .contact-block .contact-form .form input {
              width: 100%; } }
          .contacts .contact-block .contact-form .form input:first-of-type {
            margin-right: 20px; }
            @media screen and (max-width: 750px) {
              .contacts .contact-block .contact-form .form input:first-of-type {
                margin-right: 0; } }
          @media screen and (max-width: 1227px) {
            .contacts .contact-block .contact-form .form input:last-of-type {
              margin-top: 20px; } }
        .contacts .contact-block .contact-form .form textarea {
          display: block;
          margin-top: 30px;
          width: 100%;
          height: 200px;
          padding: 15px;
          font-size: 18px;
          resize: none; }
        .contacts .contact-block .contact-form .form button {
          padding: 0 100px;
          height: 55px;
          background-color: #52edc7;
          border-color: #222;
          font-size: 22px;
          font-weight: bold;
          margin-top: 30px;
          color: #222;
          position: relative; }
          .contacts .contact-block .contact-form .form button:hover {
            border-color: #fff; }
          .contacts .contact-block .contact-form .form button::after {
            content: '';
            background-image: url("../img/mess.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 17px;
            position: absolute;
            top: 50%;
            left: 60px;
            transform: translate(0, -50%); }
  .contacts::after {
    content: '';
    border-top: 135px solid #52edc7;
    border-left: 49vw solid #eeeeee;
    border-right: 49vw solid #eeeeee;
    position: absolute;
    left: 0;
    bottom: -134px; }

.download {
  padding-top: 170px;
  background-color: #eee;
  text-align: center;
  padding-bottom: 50px; }
  .download a {
    background-color: #f1c40f;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    border-radius: 4px;
    border-bottom: 2px solid #b8950a;
    display: inline-block;
    margin-top: 10px; }
    .download a:hover {
      color: #fff; }

footer {
  background-color: #888b90;
  padding: 50px 0;
  text-align: center; }
  footer p {
    color: #fff; }
  footer a {
    color: #52edbc;
    text-decoration: underline; }
    footer a:hover {
      color: #fff;
      text-decoration: none; }

a.btn-up {
  background-image: url("../img/arr.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 20px;
  bottom: 15px;
  display: none; }

/*# sourceMappingURL=style.css.map */
