.footer {
  background: url("../img/footer-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 31px 28px 31px 19px;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 890px) {
      display: block;
      padding: 30px 15px;
      text-align: center;
    }
  }
  &__logo {
    @media screen and (max-width: 890px) {
      margin-bottom: 30px;
    }
  }

  &__copyright {
    font-size: 19px;
    line-height: 1.4;
    color: #fff;
    @media screen and (max-width: 1170px) {
      font-size: 16px;
    }
    @media screen and (max-width: 890px) {
      margin-bottom: 30px;
    }
    span {
      color: #f9c014;
    }
  }

  &__brif {
    @media screen and (max-width: 890px) {
      margin-bottom: 30px;
    }
    a {
      font-size: 30px;
      color: $orange;
      position: relative;
      @media screen and (max-width: 1170px) {
        font-size: 24px;
      }
      &::after {
        content: "";
        width: 135px;
        height: 3px;
        background-color: $orange;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__socials-wrap {
    span {
      font-size: 24px;
      color: #fff;
      display: block;
      margin-bottom: 20px;
      @media screen and (max-width: 1170px) {
        font-size: 18px;
      }
    }
  }

  .social {
    display: flex;
    justify-content: center;
    &__link {
      cursor: pointer;
      margin: 0 10px;
      img {
        border-radius: 50%;
        transition: 0.2s;
        &:hover {
          box-shadow: 0px 0px 13px 0px rgba(255, 201, 0, 1);
        }
      }
    }
  }

  &__politika {
    text-align: center;
    padding-top: 10px;
    a {
      color: #fff;
      font-weight: 700;
      &:hover {
        color: $orange;
      }
    }
  }
}
