.header {
  .navigation {
    background-color: $fiolet;
    min-height: 54px;
    display: flex;
    align-items: center;
    padding: 0 33px;
    @media screen and (max-width: 890px) {
      background-color: #fff;
      padding-top: 0;
      padding-bottom: 0;
    }
    .menu {
      display: flex;
      @media screen and (max-width: 890px) {
        display: none;
      }
      &__item {
        margin-right: 16px;
        position: relative;
      }
      &__link {
        font-size: 24px;
        color: #fff;
        &:hover {
          color: $orange;
        }
        @media screen and (max-width: 1170px) {
          font-size: 19px;
        }
        @media screen and (max-width: 1020px) {
          font-size: 17px;
        }
      }

      .menu-socials {
        display: flex;
        padding-left: 50px;
        &__item {
          margin: 0 12px;
        }
        &__link {
          img {
            border-radius: 50%;
            transition: .2s;
            &:hover {
              box-shadow: 0px 0px 13px 0px rgba(255,201,0,1);
            }
          }
        }
      }
    }
    .mobile-menu {
      position: absolute;
      transition: 0.2s;
      top: 0;
      left: 0;
      width: 100%;
      transform-origin: top;
      transform: scaleY(0);
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      z-index: 200;
      &__item {
        margin: 30px 0;
      }
      &__link {
        color: #fff;
        text-transform: uppercase;
        &.active-link {
          color: #009900;
        }
        &:hover {
          color: #009900;
        }
      }
    }
    .mobile-menu.menu-active {
      transform: scaleY(1);
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #000;
      position: absolute;
      right: 10px;
      top: 2px;
      z-index: 600;
      transition: 0.2s;
      display: none;
      @media screen and (max-width: 890px) {
        display: flex;
      }
    }

    .btn__line {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      position: relative;
    }

    .btn__line::before,
    .btn__line::after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      transition: 0.3s;
      /*   transform-origin: right; */
    }

    .btn__line::before {
      top: -8px;
    }

    .btn__line::after {
      bottom: -8px;
    }

    .active-btn {
      background-color: $green;
    }

    .active-btn .btn__line {
      height: 0;
    }

    .active-btn .btn__line::before {
      transform: rotate(-45deg);
      top: -3px;
    }

    .active-btn .btn__line::after {
      bottom: 0;
      transform: rotate(45deg);
    }
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 48px 23px 54px;
    @media screen and (max-width: 890px) {
      display: block;
      text-align: center;
      padding: 10px 15px;
    }
    &__logo {
      @media screen and (max-width: 890px) {
        text-align: center;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 1030px) {
        img {
          width: 80%;
        }
      }
    }
    &__adress {
      &::before {
        background-image: url("../img/icons/map-icon.png");
      }
      strong {
        font-weight: 900;
        display: block;
        margin-bottom: 8px;
      }
      @media screen and (max-width: 890px) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 14px;
      }
    }
    &__phone {
      @media screen and (max-width: 890px) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 14px;
      }
      &::before {
        background-image: url("../img/icons/phone-icon.png");
      }
      a {
        font-weight: 900;
        display: inline-block;
        margin-bottom: 8px;
      }
    }
    &__adress,
    &__phone {
      position: relative;
      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 2px;
        left: -42px;
        @media screen and (max-width: 890px) {
          display: none;
        }
        @media screen and (max-width: 1030px) {
          display: none;
        }
      }
    }
    &__link {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 16px;
      @media screen and (max-width: 890px) {
      }
      @media screen and (max-width: 1030px) {
        font-size: 14px;
        max-width: none;
        width: auto;
        padding: 12px 20px 14px;
      }
    }
  }
}

.submenu {
  background-color: $fiolet;
  min-width: 280px;
  padding: 10px 0px 10px 0px;
  position: absolute;
  left: -10px;
  top: 100%;
  z-index: 111;
  display: none;
  opacity: .9;
  @media screen and (max-width: 868px) {
    background-color: transparent;
    opacity: 1;
    position: static;
    min-width: 0;
    width: 100%;
    padding: 15px 0;
  }
  
  

  a {
    padding: 15px 15px;
    display: block;
    transition: .2s linear;
    color: #fff;
    @media screen and (max-width: 868px) {
      color: #fff;
    }
    &:hover {
      background-color: #555;
      color: #fff;
    }
  }
}

.dropdown-link {
  position: relative;
  &::after {
    content: '>';
    transform: rotate(90deg);
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: calc(100% - 8px);
    left: calc(50% - 2px);
    @media screen and (max-width: 890px) {
      top: 4px;
      left: calc(100% + 10px);
    }
  }
  &:hover {
    &::after {
      color: $orange;
    }
  }
}

.dropdown-link.active-drop {
  color: $orange;
  &::after {
    transform: rotate(-90deg);
    left: calc(50% - 6px);
    top: calc(100% - 8px);
    @media screen and (max-width: 890px) {
      left: calc(100% + 8px);
      top: 5px;
    }
  }
}

.dropdown-link.active-drop ~ .submenu {
  display: block;
}

