* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #e5e5e5;
}

textarea {
    resize: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1406px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.add-page {
    padding-top: 32px;
}

/* Sidebar */

.sidebar {
    width: 332px;
    
}

.sidebar-title {
    color: #3f3f3f;
    font-size: 28px;
    margin-bottom: 16px;
}

.add-form {
    background-color: #FFFEFB;
    padding: 24px;
    border-radius: 4px;
}

.add-form__input {
    margin-bottom: 16px;
}

.add-form__input label {
    font-size: 10px;
    line-height: 13px;
    color: #49485e;
}

.add-form__input.input-require span {
    position: relative;
}

.add-form__input.input-require span::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ff8484;
    position: absolute;
    right: -4px;
    top: -1px;
}

.add-form__input input,
.add-form__input textarea {
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 10px 16px;
    margin-top: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.add-form__input textarea {
    width: 284px;
    height: 125px;
}

.add-form__button {
    padding-top: 8px;
}

.add-form__button button {
    color: #fff;
    font-size: 12px;
    width: 100%;
    padding: 10px 0;
    background-color: #7bae73;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.add-form__button.disable button {
    background-color: #eee;
    color: #B4B4B4;
}

/* Products */

.products {

}

.products-select {

}

.products-wrap {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: none;
}

.product__image {

}

.product__title {

}

.product__description {

}

.product__price {

}