section#about {

	.about-card {
		text-align: center;
		cursor: pointer;
		@media screen and (max-width: 770px) {
			margin-bottom: 50px;
		}
		.card-icon {
			width: 50px;
			height: 50px;
			background-image: url("../img/sprite-1.png");
			transition: none;
			display: block;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		.pen {
			background-position: -4px -4px;
		}
		.dev {
			background-position: -55px -5px;
		}
		.cust {
			background-position: -105px -5px;
		}
		.mark {
			width: 55px;
			background-position: -160px -5px;
		}
		h3 {
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 18px;
			transition: none;
		}
		p {
			font-size: 14px;
			line-height: 1.5em;
		}
		.subline {
			width: 70px;
			height: 3px;
			background-color: #f1eee9;
			margin: 0 auto;
			margin-top: 30px;
			transition: none;
		}
		&:hover {
			.subline {
				background-color: #c7b299;
			}
			h3 {
				color: #c7b299;
			}
			.pen {
				background-position: -4px -65px;
			}
			.dev {
				background-position: -52px -66px;
			}
			.cust {
				background-position: -103px -66px;
			}
			.mark {
				background-position: -158px -66px;
			}
		}
	}
}

.section-title  {
	h2 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 25px;
	}
	p {
		line-height: 1.5em;
	}
}

section#ideas {
	padding-bottom: 0;
	background-color: #fbfaf8;
	text-align: center;	
	img {
		margin-top: 25px;
		margin-bottom: 0px;
		@media screen and (max-width: 1300px) {
			width: 800px;
		}
		@media screen and (max-width: 800px) {
			width: 300px;
		}
		
	}
	footer {
		margin-top: -2px;
		background: #211B19;
	    background: -webkit-linear-gradient(left, #211B19 0%, #3D2A22 68%, #4E3427 100%);
	    background: -o-linear-gradient(left, #211B19 0%, #3D2A22 68%, #4E3427 100%);
	    background: linear-gradient(to right, #211B19 0%, #3D2A22 68%, #4E3427 100%);
	    padding: 50px 0;
	    text-align: left;
		h3 {
			font-size: 18px;
			font-weight: normal;
			color: #fff;
			span {
				color: #c7b299;	
			}
		}
		p {
			font-size: 18px;
			color: #544b48;
			@media (max-width: 800px) {
				margin-bottom: 15px;
			}
		}
	}
}

section#projects {
	text-align: center;
	.projects-navigation {
		display: flex;
		justify-content: center;
		margin: 40px 0;
		@media (max-width: 800px) {
			flex-wrap: wrap;
		}
		li {
			margin: 0 5px;
			@media (max-width: 800px) {
				margin-bottom: 5px;
			}
			a {
				color: #8c8c8c;
				display: inline-block;
				padding: 8px 25px;
				border: 1px solid #ebebeb;
				border-radius: 3px;
				&.active {
					background-color: #998675;
					color: #fff;
				}
				&:hover {
					background-color: #998675;
					color: #fff;
				}
			}
		}
	}
	.projects-container {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 800px) {
			flex-direction: column;
		}
		.projects-card {
			margin: 10px;
			width: 31%;
			overflow: hidden;
			@media (max-width: 800px) {
				width: 95%;
			}
			&:hover {
				.thumb {
					background: rgba(0,0,0,.6);
					.card-icons {
						display: block;
					}
				}
				.card-info {
					background-color: #362f2d;
					h3 {
						color: #fff;
					}
					p {
						color: #c7b299;
					}
				}
			}
			.thumb {
				position: relative;
				img {
					width: 100%;
					position: relative;
					z-index: -1;
				}
				.card-icons {
					position: absolute;
					z-index: 999;
					@include absolute-center;
					display: none;
					span {
						font-size: 25px;
						color: #fff;
						cursor: pointer;
						margin: 0 10px;
						&:hover {
							color: #c7b299;
						}
					}
				}
			}
			.card-info {
				text-align: left;
				background-color: #fbf5f5;
				padding: 25px 30px;
				margin-top: -2px;
				position: relative;
				h3 {
					font-size: 20px;
					color: #c7b299;
					font-weight: 500;
					position: relative;
					z-index: 22;
				}
				p{
					font-size: 14px;
					margin-top: 7px;
				}
				&:before {
					content: '';
					width: 40px;
					height: 40px;
					display: block;
					background-color: inherit;
					position: absolute;
					top: -7px;
					left: 20px;
					transform: rotate(45deg);
				}
			}
		}
		button {
			margin: 0 auto;
			margin-top: 36px;
		}
	}
}

section#video {
	background-image: url('../img/bg/bg2.jpg');
	background-repeat: no-repeat;
	// width: 100vw;
	background-size: cover;
	background-position: top center;
	padding-top: 280px;
	padding-bottom: 200px;
	text-align: center;
	@media (max-width: 800px) {
		padding: 80px 0;
	}
	.video-play {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		background-color: rgba(0,0,0,.3	);
		padding-top: 10px;
		cursor: pointer;
		span {
			font-size: 60px;
			color: #fff;
		}
	}
	h3 {
		font-size: 30px;
		font-weight: 500;
		color: #fff;
		margin: 25px 0 20px;
	}
	p {
		color: #c9cacc;
		line-height: 1.5em;
		margin-bottom: 50px;
	}
	.time {
		color: #c7b299;
		font-size: 14px;
		font-weight: normal;
	}
}
section#mobile {
	padding-bottom: 0;
	@media (max-width: 800px) {
		padding: 100px 0;
	}
	img {
		@media (max-width: 800px) {
			width: 300px;
		}
	}
	.mobile-devices-block {
		padding-top: 100px;
		h2 {
			font-size: 30px;
			font-weight: 600;
			margin-bottom: 30px;
		}
		p {
			line-height: 1.6em;
			font-size: 15px;
		}
		.mobile-options {
			margin-top: 30px;
			padding-left: 100px;
			p {
				margin-bottom: 10px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					left: -50px;
					width: 21px;
					height: 21px;
					border-radius: 50%;
					background-color: #c7b299;
				}
				&::after {
					content: '';
					width: 9px;
					height: 9px;
					border-right: 1px solid #fff;
					border-bottom: 1px solid #fff;
					position: absolute;
					left: -46px;
					top: 6px;
					transform: rotate(-45deg);
				}
			}
		}
	}
	footer#counters {
		margin-top: -1px;
		padding: 69px 0;
		background: #211B19;
	    background: -webkit-linear-gradient(left, #211B19 0%, #3D2A22 68%, #4E3427 100%);
	    background: -o-linear-gradient(left, #211B19 0%, #3D2A22 68%, #4E3427 100%);
	    background: linear-gradient(to right, #211B19 0%, #3D2A22 68%, #4E3427 100%);
		.counters-item {
			text-align: center;
			span {
				font-size: 48px;
				color: #c7b299;
				display: block;
			}
			span.count {
				font-size: 48px;
				color: #fff;
				font-weight: 300;
				margin: 33px 0 15px 0;
			}
			p {
				font-size: 14px;
				color: #c7b299;
				font-weight: 200;
				text-transform: uppercase;
			}
			.subline {
				width: 30px;
				height: 2px;
				background-color: #fff;
				margin: 0 auto;
				margin-top: 30px;
				@media (max-width: 770px) {
					margin-bottom: 50px;
					width: 80%;
				}
			}
		}
	}
}

section#posts {
	text-align: center;
	padding-bottom: 150px;
	.posts-slide {
		margin-top: 33px;
		.slide-item {
			.posts-item {
				// padding: 0 15px;
				margin: 0 15px;
				padding-bottom: 30px;
				text-align: left;
				position: relative;
				img {
					width: 100%;
				}
				h3 {
					font-size: 18px;
					font-weight: 500;
					margin: 20px 0 15px 0;
					padding-left: 30px;
				}
				p {
					font-size: 12px;
					line-height: 1.5em;
					padding-left: 30px;
					padding-right: 30px;
				}
				span {
					color: #c7b299;
					font-size: 12px;
					margin-top: 20px;
					display: inline-block;
					cursor: pointer;
					padding-left: 30px;
					position: relative;
					&::after {
						content: '';
						border-top: 5px solid #c7b299;
						border-right: 5px solid transparent;
						position: absolute;
						transform: rotate(135deg);
						top: 4px;
						left: calc(100% + 2px);
					}
				}
				.data {
						position: absolute;
						top: 15px;
						left: 30px;
					.day {
						font-size: 24px;
						color: #fff;
						background-color: #363636;
						padding: 6px 10px;
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
					}
					.mount {
						text-align: center;
						padding: 10px;
						font-family: 'Roboto';
						font-size: 12px;
						color: #fff;
						background-color: #252525;
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}
			}
		}

		.slick-prev {
			left: calc(50% - 25px);
			top: calc(100% + 50px);
			z-index: 333;
			&::before {
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				border-left: 1px solid #cab69e;
				border-top: 1px solid #cab69e;
				transform: rotate(-45deg);
				position: absolute;
				top: calc(50% + 6px);
				left: calc(100% - 3px);
			}
			&:after {
				content: '';
				width: 19px;
				border-radius: 50%;
				height: 19px;
				position: absolute;
				border: 1px solid #cab69e;
				transform: rotate(-45deg);
			}
		}

		.slick-next {
			right: calc(50% - 25px);
			top: calc(100% + 50px);
			z-index: 333;
			&::before {
				content: '';
				display: block;
				width: 8px;
				height: 8px;
				border-left: 1px solid #cab69e;
				border-top: 1px solid #cab69e;
				transform: rotate(135deg);
				position: absolute;
				top: calc(50% + 6px);
				left: calc(100% - 6px);
			}
			&:after {
				content: '';
				width: 19px;
				border-radius: 50%;
				height: 19px;
				position: absolute;
				border: 1px solid #cab69e;
				transform: rotate(135deg);
			}
		}
		.slick-center {
			position: relative;
			z-index: -55;
			.posts-item {
				background-color: #362f2d;
				position: relative;
				z-index: -1;
				.thumb {
					background-color: rgba(0,0,0, .6);
					position: relative;
					img {
						position: relative;
						z-index: -13;
					}
				}
				
				h3 {
					color: #c7b299;
				}
				p{
					color: #fff;
				}
				span {
				}
				.data {
					.day {
						background-color: #c7b299;
					}
					.mount {
						background-color: #a48d72;
					}
				}
			}
		}
	}
}
#logotips {
	background-image: url("../img/bg/bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding-top: 200px;
	padding-bottom: 150px;
	@media (max-width: 770px) {
		padding-bottom: 50px;
		padding-top: 100px;
	}
	img {
		margin-left: 20px;
		@media (max-width: 770px) {
			display: block;
			margin: 0 auto;
			margin-bottom: 100px;
		}
	}
}