.links-block-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.links-block {
    background-color: #fff;
    border: 2px solid $orange;
    padding: 14px 50px;
    display: inline-block;
    a {
        font-size: 18px;
        font-weight: bold;
    }
    &__this {
        color: $green;
    }
    &__prev, &__this {
        position: relative;
        margin-left: 80px;
        &::after {
            content: '';
            width: 32px;
            height: 8px;
            background-color: $orange;
            position: absolute;
            top: calc(50% - 2px);
            left: - 58px;
        }
    }
}

.home-section {
    background: url('../img/bg1.jpg') top center no-repeat;
    background-size: cover;
    padding: 35px 0 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-left: 50px;
    line-height: 35px;
    @media screen and (max-width: 768px) {
        padding-left: 0;
        text-align: center;
        background-position: top right;
    }
    .home-title {
        font-size: 45px;
        color: #fff;
        font-family: 'Borsok';
        text-align: center;
        text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 70px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
        }
    }
    .home-info {
        position: relative;
        margin-bottom: 77px;
        display: inline-block;
        z-index: 333;
        &::after {
            content: '';
            width: 260px;
            height: 150px;
            background-color: #ff6666;
            opacity: .3;
            position: absolute;
            top: -20px;
            left: calc(50%);
            transform: translateX(-150px);
            z-index: -1;
            @media screen and (max-width: 768px) {
                transform: translateX(-130px);
                height: 220px;
            }
        }
        &--orange {
            color: #ff9900;
        }
        &--green {
            color: #009900;
        }
        
    }
    .home-years {
        margin-bottom: 25px;
    }
    .home-link {
        font-size: 18px;
        font-weight: bold;
        background-color: #ff9900;
        padding: 5px 44px;
        color: #fff;
        margin-left: 10px;
        &:hover {
            background-color: #009900;
        }
    }
}

.animals-section {
    background-color: #66cc99;
    padding: 35px 0;
    position: relative;
    &:after {
        content: '';
        width: 530px;
        height: 500px;
        background-color: #ff9900;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-275px, -230px );
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .animals-title {
        &:after {
            background-image: url('../img/track.png');
        }
    }
    .animals-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .animals-item {
        margin: 0 12px 20px;
        width: 295px;
        height: 235px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
        background-image: url('../img/item-bg.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center 48px;
        position: relative;
        z-index: 2;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            top: 0;
            left: 0;
        }
        &__link {
            font-size: 30px;
            font-weight: bold;
            color: #fff;
            background-color: #66cc99;
            border: 1px solid #ff9900;
            display: block;
            width: 240px;
            text-align: center;
            text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
            position: relative;
            z-index: 33;
        }
    }
    .animals-item1 {
        &:after {
            background: url('../img/item1.png') center center no-repeat;
        }
        
    }
    .animals-item2 {
        &:after {
            background: url('../img/item2.png') center center no-repeat;
        }
    }
    .animals-item3 {
        &:after {
            background: url('../img/item3.png') center center no-repeat;
        }
    }
    .animals-item4 {
        &:after {
            background: url('../img/item4.png') center center no-repeat;
        }
    }
    .animals-item5 {
        &:after {
            background: url('../img/item5.png') center center no-repeat;
        }
    }
    .animals-item6 {
        &:after {
            background: url('../img/item6.png') center center no-repeat;
        }
    }
}

.popular-section {
    background: url('../img/bg2.png') center center no-repeat;
    background-size: cover;
    padding: 50px 0 0 0;
    .container {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .popular-title {
        @media screen and (max-width: 768px) {
            margin-bottom: 25px;
        }
        &::after {
            background-image: url('../img/popular-icon.png');
        }
    }
    .popular-nav {
        background-color: #fff;
        border-radius: 4px;
        padding: 12px 0;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
        &__link {
            font-size: 20px;
            color: $orange;
            font-weight: bold;
            padding: 6px 25px;
            @media screen and (max-width: 768px) {
                display: block;
            }
            &:first-of-type {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-of-type {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &:nth-of-type(2) {
                position: relative;
                &::before, &::after {
                    content: '';
                    width: 4px;
                    height: 30px;
                    background-color: #999999;
                    position: absolute;
                    top: 3px;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                &::before {
                    left: -5px;
                }
                &::after {
                    right: -5px;
                }
            }
            &:hover {
                color: #fff;
                background-color: $green;
                border: 2px solid $orange;
            }
        }
        &__link-active {
            color: #fff;
            background-color: $green;
            border: 2px solid $orange;
        }
    }
    .popular-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .popular-item {
        border: 1px solid #2d9e2b;
        width: 250px;
        background: url('../img/bg-item.png') center center no-repeat;
        background-size: cover;
        text-align: center;
        font-weight: bold;
        color: #666;
        font-size: 20px;
        margin: 30px;
        &__img {
            width: 100%;
            height: 195px;
            background: url('../img/monkey.png') center center no-repeat;   
        }
        &__info {
            background-color: #e5f5e5;
            border-top: 3px solid #ebebeb;
            border-bottom: 3px solid #ebebeb;
            padding: 15px 0;
        }
        &__animal {
            font-size: 18px;
            padding-bottom: 18px;
        }
        &__name {
            color: $green;
        }
        &__order {
            padding: 35px 0 43px;
        }
        &__price {
            padding-bottom: 30px;
            span {
                color: $orange;
            }
        }
        &__btn {
            font-size: 16px;
            color: #fff;
            background-color: $green;
            border: 1px solid $orange;
            border-radius: 4px;
            padding: 4px 43px;
            &:hover {
                background-color: $orange;
            }
        }
    }
}

.news-section {
    background: url('../img/bg3.png') center center no-repeat;
    background-size: cover;
    padding: 50px 0 0;
    .container {
        padding-bottom: 110px;
    }
    .news-title-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
        }
    }
    .news-title {
        &::after {
            background-image: url('../img/news-icon.png');
            width: 50px;
            height: 50px;
            top: -10px;
            left: - 11px;
        }
    }
    .news-all__link {
        font-size: 22px;
        font-weight: normal;
    }

    .news-wrap {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .news-item {
        background: url('../img/wolf.png') center top no-repeat;
        background-size: contain;
        width: 215px;
        height: 177px;
        display: flex;
        align-items: flex-end;
        position: relative;
        @media screen and (max-width: 768px) {
            margin: 5px;
            margin-bottom: 10px;
        }
        &__text {
            color: #333;
            background-color: #fff;
            border: 2px solid $orange;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            width: 100%;
        }
    }
    .news-date {
        width: 50px;
        height: 72px;
        border: 2px solid $orange;
        text-align: center;
        background-color: #fff;
        position: absolute;
        top: -20px;
        right: 25px;
        @media screen and (max-width: 768px) {
            top: 0;
            right: 0;
        }
        p {
            font-size: 20px;
            font-weight: bold;
            color: $green;
            line-height: 30px;
            span {
                font-weight: normal;
            }
        }
    }
    .news-home {
        background: url('../img/wolf.png') center center no-repeat;
        background-size: cover;
        display: block;
        width: 800px;
        height: 400px;
        margin-right: 30px;
        position: relative;
        display: flex;
        align-items: flex-end;
        @media screen and (max-width: 768px) {
            width: 95%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__text {
            width: 100%;
            display: block;
            padding: 15px 0;
        }
    }
    .news-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }
    .news-footer {
        background-color: $orange;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 50px 15px;
        position: relative;
        @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
            padding-top: 100px;
        }
        &::after {
            content: '';
            width: 270px;
            height: 240px;
            background: url('../img/monkey2.png') center center no-repeat;
            position: absolute;
            left: 20px;
            top: -28px;
            @media screen and (max-width: 768px) {
                width:200px;
                height: 170px;
                background-size: cover;
                top: -70px;
                left: 70px;
            }
        }
        &__title {
            font-size: 29px;
            color: #fff;
            font-family: 'Borsok';
            letter-spacing: 2px;
            margin-bottom: 27px;
        }
        &__text {
            font-size: 24px;
            color: #fff;
            line-height: 28px;
            padding-left: 65px;
            @media screen and (max-width: 768px) {
                padding-left: 0;
                margin-bottom: 20px;
            }
        }
        &__socials {
            &-item {
                margin-left: 30px;
            }
        }
        
    }
    .news-footer-wrap {
        margin-right: 10px;
        position: relative;
        z-index: 44;
        @media screen and (max-width: 768px) {
            margin-right: 0;
        }
    }
    
}

.why-section {
    background: url('../img/bg4.png') center center no-repeat;
    background-size: cover;
    font-weight: bold;
    padding: 50px 0;
    .why-title {
        &::after {
            background-image: url('../img/why-icon.png');
            width: 55px;
            left: -8px;
        }
    }
    .why-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .why-item {
        background-color: #fff;
        display: flex;
        align-items: center;
        text-align: center;
        width: 295px;
        margin: 0 10px;
        padding: 20px 0;
        margin-bottom: 5px;
        &__title {
            color: #333333;
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__text {
            color: #666;
            font-size: 16px;
            text-align: left;
            padding-left: 10px;
            line-height: 20px;
        }
    }
}

.search-section {
    color: #fff;
    background-color: #66cc99;
    display: flex;
    justify-content: flex-end;
    padding: 25px 90px 55px 0;
    position: relative;
    @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
        padding: 80px 0 60px;
    }
    &::after {
        content: '';
        width: 395px;
        height: 275px;
        background: url('../img/gipard.png') center center no-repeat;
        position: absolute;
        top: - 20px;
        left: 15px;
        @media screen and (max-width: 768px) {
            width: 165px;
            height: 112px;
            background-size: cover;
            top: -24px;
            left: 70px;
        }
    }
    .search-title {
        font-size: 30px;
        margin-bottom: 30px;
        position: relative;
        z-index: 33;
    }
    .search-text {
        font-size: 24px;
        padding-left: 75px;
        position: relative;
        z-index: 33;
        @media screen and (max-width: 768px) {
            padding: 0;
            margin-bottom: 50px;
        }
    }
    .search-link {
        background-color: $orange;
        font-size: 24px;
        border-radius: 4px;
        padding: 9px 18px;
        color: #fff;
        position: absolute;
        top: 52px;
        right: 67px;
        @media screen and (max-width: 768px) {
            position: static;
        }
        &:hover {
            background-color: $green;
        }
    }
}

.about-section {
    background: url('../img/bg5.png') center center no-repeat;
    background-size: cover;
    padding: 70px 0;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    .about-title {
        margin-bottom: 70px;
        &::after {
            background-image: url('../img/about-icon.png');
            top: -7px;
        }
    }
    .content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap; 
        }
        &__text {
            padding-right: 109px;
            @media screen and (max-width: 768px) {
                padding: 0;
            }
        }
        &__img {
            
            @media screen and (max-width: 768px) {
                margin: 0 auto;
            }
        }
    }
    .content-title {
        font-family: 'Borsok';
        color: #ff6666;
        font-size: 20px;
        margin-bottom: 25px;
    }
    .content-title--mini {
        font-family: 'Open sans', sans-serif;
        font-size: 16px;
    }
    .content-text {
        color: #666666;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 25px;
        &__orange {
            color: #ff6666;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }
}

//Catalog
.home-section-catalog {
    background: url('../img/catalog/bg1.jpg') center no-repeat;
    background-size: cover;
}
.home-section-yavanskaya {
    background: url('../img/tovar/bg1.jpg') center no-repeat;
    background-size: cover;
}
.catalog-section {
    background-color: #7ec999;
    font-weight: bold;
    
    .catalog-title {
        margin-left: 30px;
        margin-bottom: 40px;
        &:after {
            background-image: url('../img/track.png');
        }
    }

    .catalog-wrap {
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .sidebar {
        width: 295px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .accordion-menu {
            width: 100%;
            background: #fff;
        }

        .accordion-menu li .dropdownlink {
            background-color: $green;
            border: 2px solid $orange;
        }
        .accordion-menu li.open .dropdownlink {
            color: #CDDC39;
            background-color: $green;
            .fa-chevron-down {
              transform: rotate(90deg);
            }
        }
        .accordion-menu li:last-child .dropdownlink {
            border-bottom: 0;
        }
        .dropdownlink {
            cursor: pointer;
            display: block;
            padding: 15px 15px 15px 65px;
            font-size: 24px;
            border-bottom: 1px solid #ccc;
            color: #fff;
            position: relative;
            transition: all 0.4s ease-out;
            i {
              position: absolute;
              top: 12px;
              left: 16px;
            }
            .fa-chevron-down {
              right: 12px;
              left: auto;
              width: 25px;
              height: 25px;
              background: url('../img/catalog/triangle.png') center center no-repeat;
            }
            .fa-line {
                width: 32px;
                height: 2px;
                background-color: #fff;
                top: 26px;
            }
        }
          
        .submenuItems {
            display: none;
            padding-bottom: 20px;
            li {
              position: relative;
              &::after {
                  content: '';
                  width: 177px;
                  height: 2px;
                  background-color: #999;
                  position: absolute;
                  bottom: 0;
                  right: 22px;
              }
            }
            .fa-active {
                &::before {
                    content: '';
                    position: absolute;
                    width: 55px;
                    height: 34px;
                    background-color: $orange;
                    top: 12px;
                    right: 10px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: $orange;
                    top: 27px;
                    right: 63px;
                }
                
            }
        }
          
        .submenuItems a {
            display: block;
            color: #727272;
            padding: 22px 12px 22px 45px;
            transition: all 0.4s ease-out;
            &:hover {
              background-color: #CDDC39;
              color: #fff;
            }
        }

        .advertising {
            &-item {
                width: 100%;
                height: 277px;
                background-color: $green;
                display: flex;
                align-items: flex-end;
                border: 1px solid $orange;
                margin-top: 30px;
                @media screen and (max-width: 768px) {
                    width: 300px;
                    margin: 15px auto;
                }
                &__title {
                    padding: 15px 0;
                    background-color: #fff;
                    text-align: center;
                    border-top: 1px solid $orange;
                    width: 100%;
                }
            }
        }
    }
    .catalog {
        width: 780px;
        padding-bottom: 20px;
        position: relative;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .tovar {
        width: 780px;
        padding-bottom: 20px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        &__title {
            font-family: 'Borsok';
            font-size: 30px;
            color: #fff;
            text-align: center;
            letter-spacing: 3px;
            margin: -40px 0 80px;
            @media screen and (max-width: 768px) {
                margin: 0 0 50px;
            }
        }
        .catalog-item {
            margin-bottom: 30px;
        }
        .catalog-item__buttons {
            display: flex;
            justify-content: center;
        }
        .catalog-item__btn {
            padding: 7px 20px;
        }
        .tovar-images {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: -30px;
            position: relative;
            margin-bottom: 80px;
            &__item {
                width: 100%;
                height: 170px;
                margin: 0 0 30px 30px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                z-index: 2;
                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.7);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 22;
                    transition: .1s;
                    transform: scale(0);
                    background-image: url('../img/tovar/zoom.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 50px 50px;
                }
                &:hover {
                    &::after {
                        transform: scale(1);
                    }
                }
            }
            &__item--1x {
                max-width: 200px;
            }
            &__item--2x {
                max-width: 300px;
            }

            &::before, &::after {
                content: '';
                width: 550px;
                height: 5px;
                background-color: $orange;
                position: absolute;
                top: -30px;
                @media screen and (max-width: 1024px) {
                    width: 670px;
                }
                @media screen and (max-width: 480px) {
                    display: none;
                }
            }
            &::before {
                left: 45px;
                transform-origin: left;
                transform: rotate(60deg);
                @media screen and (max-width: 1024px) {
                    transform: rotate(70deg);
                }
            }
            &::after {
                right: 13px;
                transform-origin: right;
                transform: rotate(-60deg);
                @media screen and (max-width: 1024px) {
                    transform: rotate(-70deg);
                }
            }
        }
        .tovar-video {
            text-align: center;
            margin-bottom: 60px;
            video {
                width: 500px;
                @media screen and (max-width: 768px) {
                    width: 300px;
                }
            }
        }
        .tovar-similar {
            max-width: 620px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            @media screen and (max-width: 768px) {
                max-width: 310px;
            }
            &::after {
                content: '';
                width: 520px;
                height: 6px;
                background-color: $orange;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &__title {
                font-size: 24px;
                text-align: center;
                margin-bottom: 60px;
            }
            &__img-name {
                font-size: 24px;
                color: #fff;
                text-align: center;
                margin-top: -40px;
                margin-bottom: 40px;
            }
            
            .slick-slide {
                outline: none;
            }
            .slick-prev, .slick-next {
                top: calc(50% - 70px);
                z-index: 333;
                &::before {
                    display: none;
                }
                &:after {
                    content: '';
                    width: 55px;
                    height: 125px;
                    position: absolute;
                    background: url('../img/tovar/arrow.png') top no-repeat;
                }
            }
            .slick-prev {
                left: -77px;
                &:after {
                    transform: rotate(180deg);
                }
            }
    
            .slick-next {
                right: -14px;
            }
        }
    }
}

.catalog-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 75px;
    position: relative;
    @media screen and (max-width: 1024px) {
        display: block;
    }
    @media screen and (max-width: 768px) {
        display: block;
        font-size: 20px;
    }
    &::after {
        content: '';
        position: absolute;
        width: 513px;
        height: 6px;
        background-color: $orange;
        bottom: 0;
        left: calc(50% - 256px);
    }
    &__img {
        position: relative;
        &-name {
            font-size: 24px;
            color: #fff;
            text-align: center;
            margin-top: -40px;
            margin-bottom: 40px;
        }
        @media screen and (max-width: 1024px) {
            text-align: center;
        }
        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
    &__description {
        text-align: center;
    }
    &__info {
        span {
            color: #ffff;
        }
    }
    &__price {
        margin-top: 35px;
        margin-bottom: 16px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__btn {
        color: #fff;
        font-size: 16px;
        padding: 7px 50px;
        border-radius: 6px;
        border: 1px solid $orange;
        @media screen and (max-width: 768px) {
            display: inline-block;
            margin: 10px 0;
        }
    }
    &__btn--green {
        background-color: $green;
        &:hover {
            background-color: $orange; 
        }
    }
    &__btn--orange {
        background-color: $orange;
        &:hover {
            background-color: $green; 
        }
    }
}

// Articles

.articles-section {
    background-color: #7ec999;
    .articles-title-wrap {
        background-color: #fff;
        padding: 15px;
        
        .links-block-wrap {
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            .links-block {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
            .articles-title {
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
            
        }
    }
    .articles-title {
        margin-left: 50px;
        &::after {
            background-image: url('../img/articles/articles-icon.png');
            width: 50px;
            height: 50px;
            top: -10px;
            left: -20px;
        }
    }
    .articles-wrap {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        position: relative;
        &::after {
            content: '';
            width: 360px;
            height: 8px;
            background-color: $orange;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            // margin: 0 auto;
            z-index: 444;
        }
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .articles-main {
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
        .articles-item {
            background-image: url('../img/articles/item1.png');
            width: 470px;
            height: 380px;
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                background-position: right center;
                width: 100%;
            }
        }
    }
    .articles-all {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-between;
        @media screen and (max-width: 1024px) {
            justify-content: center;
        }
        .articles-item {
            background-image: url('../img/articles/item2.png');
            width: 300px;
            height: 180px;
            &__title {
                font-size: 20px;
            }
            @media screen and (max-width: 1024px) {
                margin-bottom: 15px;
            }
            @media screen and (max-width: 768px) {
                margin: 15px;
            }
        }
    }
    
    
}
.articles-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    color: $orange;
    display: flex;
    align-items: flex-end;
    &__info {
        background-color: #fff;
        width: 100%;
        padding: 5px 20px;
    }
    &__title {
        font-size: 24px;
        text-align: center;
    }
    &__description {
        font-size: 18px;
        line-height: 30px;
    }
}
.articles-other {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 60px;
    margin-left: -15px;
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    .articles-item {
        width: 550px;
        height: 365px;
        margin-left: 15px;
        background-image: url('../img/articles/item1.png');
        margin-bottom: 15px;
        background-position: center;
        @media screen and (max-width: 768px) {
            background-position: right center;
        }
        &__title {
            text-align: left;
        }
    }
}
.subarticles-section {
    background-color: #7ec999;
    padding: 80px 15px;
    @media screen and (max-width: 768px) {
        padding: 30px 15px;
    }
    .articles-other {
        padding: 0;
    }
    .subarticles-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @media screen and (max-width: 1024px) {
            justify-content: center;
        }
    }
    .subarticles-item {
        color: $orange;
        display: flex;
        width: 550px;
        margin-bottom: 25px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        &__img {
            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }
        }
        &__description {
            background-color: #fff;
            width: 100%;
            padding: 15px 0 0 0;
            border: 2px solid $orange;
            border-bottom: none;
            @media screen and (max-width: 768px) {
                
            }
        }
        &__title {
            font-size: 30px;
            margin-bottom: 18px;
            padding-left: 35px;
        }
        &__text {
            font-size: 18px;
            margin-bottom: 15px;
            padding-left: 35px;    
        }
        &__link {
            border: 2px solid $green;
            background-color: $orange;
            background-image: url('../img/articles/arrow.png');
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            width: 100%;
            padding: 30px 0;
            &:hover {
                background-color: $green;
            }
        }
    }
    .pages {
        margin-top: 50px;
    }
}

.articles-news {
    background: none;
    background-color: #7ec999;
    padding: 0;
    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}



// PopUp

.popup-wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.9);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

#popup1 {
    transform: scale(0);
}

#popup2 {
    transform: scale(0);
}



.popup {
    transition: all .3s;
    width: 600px;
    height: 550px;
    background: url('../img/popup/popup-bg.png') center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
    &__logo {
        padding: 8px 0;
        text-align: center;
    }
    &__title {
        font-family: 'Borsok';
        font-size: 17px;
        color: #fff;
        letter-spacing: 4px;
        text-align: center;
        line-height: 30px;
        background-color: rgba(255,255,255, .5);
        padding: 15px 0;
    
    }
    &__link { 
        font-size: 13px;
        color: #000;
        font-weight: bold;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
            text-decoration: underline;
        }
    }
    .popup-form {
        display: flex;
        justify-content: center;
        table {
            border-collapse: separate;
            border-spacing: 30px 25px;
        }
        tr {
            height: 30px;
        }
        &__label-td {
            text-align: right;
        }
        &__label {
            font-family: 'Borsok';
            color: #fff;
            font-size: 18px;
            line-height: 25px;
        }
        &__input {
            border: none;
            border-radius: 15px;
            width: 158px;
            height: 30px;
            padding: 0 15px;
        }
        &__text {
            width: 265px;
            height: 75px;
            padding: 15px;
            border: none;
            border-radius: 15px;
            resize: none;
        }
        &__file {
            background-color: $orange;
            color: #fff;
        }
        
    }
}
