.home-section {
    background: url('../img/bg1.jpg') top center no-repeat;
    background-size: cover;
    padding: 35px 0 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-left: 50px;
    line-height: 35px;
    @media screen and (max-width: 768px) {
        padding-left: 0;
        text-align: center;
        background-position: top right;
    }
    .home-title {
        font-size: 45px;
        color: #fff;
        font-family: 'Borsok';
        text-align: center;
        text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 70px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
        }
    }
    .home-info {
        position: relative;
        margin-bottom: 77px;
        display: inline-block;
        z-index: 333;
        &::after {
            content: '';
            width: 260px;
            height: 150px;
            background-color: #ff6666;
            opacity: .3;
            position: absolute;
            top: -20px;
            left: calc(50%);
            transform: translateX(-150px);
            z-index: -1;
            @media screen and (max-width: 768px) {
                transform: translateX(-130px);
                height: 220px;
            }
        }
        &--orange {
            color: #ff9900;
        }
        &--green {
            color: #009900;
        }
        
    }
    .home-years {
        margin-bottom: 25px;
    }
    .home-link {
        font-size: 18px;
        font-weight: bold;
        background-color: #ff9900;
        padding: 5px 44px;
        color: #fff;
        margin-left: 10px;
        &:hover {
            background-color: #009900;
        }
    }
}

.animals-section {
    background-color: #66cc99;
    padding: 35px 0;
    position: relative;
    &:after {
        content: '';
        width: 530px;
        height: 500px;
        background-color: #ff9900;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-275px, -230px );
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .animals-title {
        &:after {
            background-image: url('../img/track.png');
        }
    }
    .animals-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .animals-item {
        margin: 0 12px 20px;
        width: 295px;
        height: 235px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
        background-image: url('../img/item-bg.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center 48px;
        position: relative;
        z-index: 2;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 3;
            top: 0;
            left: 0;
        }
        &__link {
            font-size: 30px;
            font-weight: bold;
            color: #fff;
            background-color: #66cc99;
            border: 1px solid #ff9900;
            display: block;
            width: 240px;
            text-align: center;
            text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
            position: relative;
            z-index: 33;
        }
    }
    .animals-item1 {
        &:after {
            background: url('../img/item1.png') center center no-repeat;
        }
        
    }
    .animals-item2 {
        &:after {
            background: url('../img/item2.png') center center no-repeat;
        }
    }
    .animals-item3 {
        &:after {
            background: url('../img/item3.png') center center no-repeat;
        }
    }
    .animals-item4 {
        &:after {
            background: url('../img/item4.png') center center no-repeat;
        }
    }
    .animals-item5 {
        &:after {
            background: url('../img/item5.png') center center no-repeat;
        }
    }
    .animals-item6 {
        &:after {
            background: url('../img/item6.png') center center no-repeat;
        }
    }
}

.popular-section {
    background: url('../img/bg2.png') center center no-repeat;
    background-size: cover;
    padding: 50px 0 0 0;
    .container {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .popular-title {
        @media screen and (max-width: 768px) {
            margin-bottom: 25px;
        }
        &::after {
            background-image: url('../img/popular-icon.png');
        }
    }
    .popular-nav {
        background-color: #fff;
        border-radius: 4px;
        padding: 12px 0;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
        &__link {
            font-size: 20px;
            color: $orange;
            font-weight: bold;
            padding: 6px 25px;
            @media screen and (max-width: 768px) {
                display: block;
            }
            &:first-of-type {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-of-type {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &:nth-of-type(2) {
                position: relative;
                &::before, &::after {
                    content: '';
                    width: 4px;
                    height: 30px;
                    background-color: #999999;
                    position: absolute;
                    top: 3px;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                &::before {
                    left: -5px;
                }
                &::after {
                    right: -5px;
                }
            }
            &:hover {
                color: #fff;
                background-color: $green;
                border: 2px solid $orange;
            }
        }
        &__link-active {
            color: #fff;
            background-color: $green;
            border: 2px solid $orange;
        }
    }
    .popular-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .popular-item {
        border: 1px solid #2d9e2b;
        width: 250px;
        background: url('../img/bg-item.png') center center no-repeat;
        background-size: cover;
        text-align: center;
        font-weight: bold;
        color: #666;
        font-size: 20px;
        margin: 30px;
        &__img {
            width: 100%;
            height: 195px;
            background: url('../img/monkey.png') center center no-repeat;   
        }
        &__info {
            background-color: #e5f5e5;
            border-top: 3px solid #ebebeb;
            border-bottom: 3px solid #ebebeb;
            padding: 15px 0;
        }
        &__animal {
            font-size: 18px;
            padding-bottom: 18px;
        }
        &__name {
            color: $green;
        }
        &__order {
            padding: 35px 0 43px;
        }
        &__price {
            padding-bottom: 30px;
            span {
                color: $orange;
            }
        }
        &__btn {
            font-size: 16px;
            color: #fff;
            background-color: $green;
            border: 1px solid $orange;
            border-radius: 4px;
            padding: 4px 43px;
            &:hover {
                background-color: $orange;
            }
        }
    }
}

.news-section {
    background: url('../img/bg3.png') center center no-repeat;
    background-size: cover;
    padding: 50px 0 0;
    .container {
        padding-bottom: 110px;
    }
    .news-title-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
        }
    }
    .news-title {
        &::after {
            background-image: url('../img/news-icon.png');
            width: 50px;
            height: 50px;
            top: -10px;
            left: - 11px;
        }
    }
    .news-all__link {
        font-size: 22px;
        font-weight: normal;
    }

    .news-wrap {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    .news-item {
        background: url('../img/wolf.png') center top no-repeat;
        background-size: contain;
        width: 215px;
        height: 177px;
        display: flex;
        align-items: flex-end;
        @media screen and (max-width: 768px) {
            margin: 5px;
            margin-bottom: 10px;
        }
        &__text {
            color: #333;
            background-color: #fff;
            border: 2px solid $orange;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            width: 100%;
        }
    }
    .news-home {
        background: url('../img/wolf.png') center center no-repeat;
        background-size: cover;
        width: 850px;
        height: 400px;
        display: flex;
        align-items: flex-end;
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            width: 95%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__text {
            padding: 15px 0;
        }
    }
    .news-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        @media screen and (max-width: 768px) {
            justify-content: center;
        }
    }
    .news-footer {
        background-color: $orange;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 50px 15px;
        position: relative;
        @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
            padding-top: 100px;
        }
        &::after {
            content: '';
            width: 270px;
            height: 240px;
            background: url('../img/monkey2.png') center center no-repeat;
            position: absolute;
            left: 20px;
            top: -28px;
            @media screen and (max-width: 768px) {
                width:200px;
                height: 170px;
                background-size: cover;
                top: -70px;
                left: 70px;
            }
        }
        &__title {
            font-size: 29px;
            color: #fff;
            font-family: 'Borsok';
            letter-spacing: 2px;
            margin-bottom: 27px;
        }
        &__text {
            font-size: 24px;
            color: #fff;
            line-height: 28px;
            padding-left: 65px;
            @media screen and (max-width: 768px) {
                padding-left: 0;
                margin-bottom: 20px;
            }
        }
        &__socials {
            &-item {
                margin-left: 30px;
            }
        }
        
    }
    .news-footer-wrap {
        margin-right: 10px;
        position: relative;
        z-index: 44;
        @media screen and (max-width: 768px) {
            margin-right: 0;
        }
    }
    
}

.why-section {
    background: url('../img/bg4.png') center center no-repeat;
    background-size: cover;
    font-weight: bold;
    padding: 50px 0;
    .why-title {
        &::after {
            background-image: url('../img/why-icon.png');
            width: 55px;
            left: -8px;
        }
    }
    .why-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .why-item {
        background-color: #fff;
        display: flex;
        align-items: center;
        text-align: center;
        width: 295px;
        margin: 0 10px;
        padding: 20px 0;
        margin-bottom: 5px;
        &__title {
            color: #333333;
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__text {
            color: #666;
            font-size: 16px;
            text-align: left;
            padding-left: 10px;
            line-height: 20px;
        }
    }
}

.search-section {
    color: #fff;
    background-color: #66cc99;
    display: flex;
    justify-content: flex-end;
    padding: 25px 90px 55px 0;
    position: relative;
    @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
        padding: 80px 0 60px;
    }
    &::after {
        content: '';
        width: 395px;
        height: 275px;
        background: url('../img/gipard.png') center center no-repeat;
        position: absolute;
        top: - 20px;
        left: 15px;
        @media screen and (max-width: 768px) {
            width: 165px;
            height: 112px;
            background-size: cover;
            top: -24px;
            left: 70px;
        }
    }
    .search-title {
        font-size: 30px;
        margin-bottom: 30px;
        position: relative;
        z-index: 33;
    }
    .search-text {
        font-size: 24px;
        padding-left: 75px;
        position: relative;
        z-index: 33;
        @media screen and (max-width: 768px) {
            padding: 0;
            margin-bottom: 50px;
        }
    }
    .search-link {
        background-color: $orange;
        font-size: 24px;
        border-radius: 4px;
        padding: 9px 18px;
        color: #fff;
        position: absolute;
        top: 52px;
        right: 67px;
        @media screen and (max-width: 768px) {
            position: static;
        }
        &:hover {
            background-color: $green;
        }
    }
}

.about-section {
    background: url('../img/bg5.png') center center no-repeat;
    background-size: cover;
    padding: 70px 0;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    .about-title {
        margin-bottom: 70px;
        &::after {
            background-image: url('../img/about-icon.png');
            top: -7px;
        }
    }
    .content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap; 
        }
        &__text {
            padding-right: 109px;
            @media screen and (max-width: 768px) {
                padding: 0;
            }
        }
        &__img {
            @media screen and (max-width: 768px) {
                margin: 0 auto;
            }
        }
    }
    .content-title {
        font-family: 'Borsok';
        color: #ff6666;
        font-size: 20px;
        margin-bottom: 25px;
    }
    .content-text {
        color: #666666;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 25px;
        &__orange {
            color: #ff6666;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }
}