.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 955px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
}

body {
    font-family: 'Open sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}