.footer {
    background: url('../img/bg-footer.png') center center no-repeat;
    background-size: cover;
    color: #48946c;
    font-size: 17px;
    font-weight: bold;
    padding: 30px;
    position: relative;
    a {
        font-size: 17px;
        color: #48946c;
        font-weight: bold;
        cursor: pointer;
    }
    h3 {
        color: #fff;
        font-size: 18px;
    }
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            display: block;
            text-align: center;
        }
    }
    .footer-logo {
        width: 310px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 30px;
        }
        &__img {
            margin-bottom: 30px;
        }
    }
    .footer-title {
        margin-bottom: 35px;
        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
        }
    }
    .footer-menu {
        &__item {
            margin-bottom: 8px;
        }
        &__link {
            
            &:hover {
                color: #fff;
            }
        }
    }
    .footer-about {
        @media screen and (max-width: 768px) {
            margin-bottom: 35px;
        }
    }
    .footer-popular {
        @media screen and (max-width: 768px) {
            margin-bottom: 35px;
        }
    }
    .footer-contacts {
        &__item {
            margin-bottom: 25px;
        }
        &__link {
            color: #fff;
            &:hover {
                color: #48946c;
            }
        }
    }
    .footer-socials {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: calc(50% - 130px);
        @media screen and (max-width: 768px) {
            position: static;
            padding-top: 25px;
            display: block;
        }
        &__link {
            margin: 0 15px;
            &:hover {
                transform: translateY(-7px);
            }
        }
    }
}