.about {
	background-color: #f8f8f8;
	position: relative;
	z-index: 99;
	.section-title {
		margin-bottom: 55px;
	}
	
	.contents {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 750px) {
			 display: block;
			 text-align: center;
			 margin: 0 auto;
			 padding: 0 15px;
		}
		p {
			max-width: 555px;
			line-height: 24px;
			@media screen and (max-width: 750px) {
				width: 100%;
			}
			&:last-child {
				margin-left: 30px;
				@media screen and (max-width: 750px) {
					margin: 0;
					margin-top: 40px;
				}
			}
		}
	}
	.members {
		display: flex;
		justify-content: space-between;
		margin-top: 55px;
		.thumb {
			position: relative;
			overflow: hidden;
			width: 248px;
			height: 240px;
			transition: 0.3s;
			@media screen and (max-width: 750px) {
				width: 100%;
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.5);
				.social {
					display: block;
				}
			}
			a {
				
			}

			.member {
				position: absolute;
				object-fit: cover;
				width: 248px;
				z-index: -1;
				@media screen and (max-width: 750px) {
					width: 100%;
				}
			}
			.social {
				display: none;
				position: absolute;
				top: calc(100% - 60px);
				left: calc(50% - 56px);
				right: 0;
				bottom: 0;
				ul {
					display: flex;
					li {
						margin-left: 2px;
						padding: 5px 6px 4px;
						transition: 0.3s;
						&:hover {
							background-color: #c0301c;
						}
					}
				}
				img {
					width: 15px;
				}
			}
		}
		.member-info {
			.info {
				text-align: center;
				h3 {
					margin: 15px 0 10px 0;
				}
			}
		}
		.slick-prev {
				left: -10px;
				top: calc(50% - 50px);
				z-index: 3233;
				&::before {
					content: '';
					width: 10px;
					height: 10px;
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
					transform: rotate(-135deg);
					position: absolute;
					top: calc(100% + 2px);
					left: calc(100% + 5px);
					z-index: 9999;
				}
				&::after {
					content: '';
					width: 37px;
					height: 37px;
					background-color: #8f8f8f;
					position: absolute;
				}
				&:hover::after {
					background-color: #c0301c;
				}
			}
			.slick-next {
				right: 44px;
				top: calc(50% - 50px);
				z-index: 3233;
				@media screen and (max-width: 750px) {
					right: 27px;
				}
				&::before {
					content: '';
					width: 10px;
					height: 10px;
					border-top: 2px solid #fff;
					border-right: 2px solid #fff;
					transform: rotate(45deg);
					position: absolute;
					top: calc(100% + 2px);
					left: calc(100%);
					z-index: 9999;
				}
				&::after {
					content: '';
					width: 37px;
					height: 37px;
					background-color: #8f8f8f;
					position: absolute;
				}
				&:hover::after {
					background-color: #c0301c;
				}
			}
	}
}

.slick-slide {
	outline: none;
}