.banner {
	background: url("../img/banner_header.png");
	background-size: cover;
	background-position: top center;
	width: 100%;
	padding-bottom: 250px;
	position: relative;
	@media screen and (max-width: 750px) {
		padding-bottom: 150px;
	}
	.head-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			@media screen and (max-width: 750px) {
				margin-left: 15px;
			}
			a {
				color: #fff;
				font-size: 24px;
				font-weight: bold;
			}
		}
		.menu {
			ul {
				display: flex;
				@media screen and(max-width: 750px){
					display: none;
				}
				li {
					margin-left: 34px;
				}
			}
			a {
				font-size: 14px;
				letter-spacing: 0.5px;
				&:hover {
					border-bottom: 2px solid #fff;
					padding-bottom: 5px;
				}
			}
		}
		#open-menu {
			color: #fff;
			font-size: 40px;
			cursor: pointer;
			display: none;
			margin-right: 15px;
			@media screen and(max-width: 750px){
				display: block;
			}
			
		}
		ul.mobile-menu {
			display: block;
			position: fixed;
			background-color: rgba(0,0,0,.9);
			width: 100%;
			padding-top: 60px;
			padding-bottom: 60px;
			top: -5000px;
			left: 0;
			text-align: center;
			z-index: 999;
			transition: all .5s;
			#close-menu {
				position: absolute;
				top: 20px;
				right: 30px;
				color: #555;
				font-size: 40px;
				cursor: pointer;
			}
			li {
				margin-bottom: 20px;
				a {
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					&:hover {
						border-bottom: 2px solid #fff;
						padding-bottom: 5px;
						border-color: #555;
					}
				}
			}
		}
	}
	.head-title {
		text-align: center;
		margin-top: 233px;
		@media screen and (max-width: 750px) {
			margin-top: 100px;
		}
		h1 {
			color: #fff;
			@media screen and (max-width: 750px) {
				font-size: 36px;
			}
		}
		p {
   			color: #fff;
   			
   			font-size: 19px;
   			margin-top: 11px;
   			margin-bottom: 60px;
		}
		
	}
	.banner-content {
		padding-top: 35px;
	}
}

