.works {
	position: relative;
	z-index: 99;
	padding-bottom: 65px;
	.section-title {
		ul {
			display: flex;
			justify-content: space-between;
			max-width: 415px;
			@media screen and (max-width: 750px) {
				flex-wrap: wrap;
				padding: 0 15px;
			}
			margin: 0 auto;
			li {
				@media screen and (max-width: 750px) {
				margin-right: 20px;
				}
			}
		}
		a {
			font-family: "Roboto Slab", sans-serif;
			color: #555;
			&.active {
				color: #c0301c;
			}
			&:hover {
				color: #c0301c;
			}
		}
		.subline {
			margin: 20px auto;
		}
	}

	.works-block {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.works-block__thumb {
			position: relative;
			width: 338px;
			height: 302px;
			overflow: hidden;
			transition: 0.3s;
			margin-bottom: 28px;
			@media screen and (max-width: 750px) {
				width: 250px;
				height: 220px;
				margin: 0 auto;
				margin-bottom: 30px;
			}
			&:hover {
				background-color: rgba(250, 0, 0, 0.5);
				.works-block__link {
					display: block;
				}
			}
			.work-img {
				position: absolute;
				top: -29px;
   				left: -31px;
				object-fit: cover;
				z-index: -1;
				@media screen and (max-width: 750px) {
					
				}
			}
			.works-block__link {
				text-align: center;
				position: absolute;
				top: calc(50% - 57px);
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0 auto;
				display: none;
				h4 {
					color: #fff;
					font-size: 18px;
					text-transform: none;
					line-height: 27px;
					span {
						display: block;
						font-size: 12px;
						font-family: 'Roboto Slab', sans-serif;
						margin-bottom: 28px;
					}
				}
				a {
					text-transform: uppercase;
					background-color: #fff;
					color: #c0301c;
					font-size: 14px;
					font-family: 'Roboto Slab', sans-serif;
					padding: 10px 30px;
					position: relative;
					&::after {
						 content: '';
   						 background-image: url(../img/right-arrow.svg);
   						 background-size: cover;
   						 position: absolute;
   						 width: 10px;
   						 height: 11px;
   						 top: calc(50% - 5px);
   						 left: calc(100% - 25px);
   						 right: 0;
   						 bottom: 0;
					}
				}
			}
		}
	}
}