* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	margin: 0 80px;
	@media screen and (max-width: 750px) {
		margin: 0 10px;
	}
	@media screen and (min-width: 1750px) {
		max-width: 1750px;
		margin: 0 auto;
	}
}

a {
	text-decoration: none;
}

h1, h2 {
	text-transform: uppercase;
	color: #111;
}

h2.section-title {
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 10px;
	color: #fff;
}

section {
	padding: 70px 0;
}

p {
	color: #555;
	font-size: 17px;
}

.section-image {
	margin: 30px 0;
}

ul {
	list-style: none;
}