@font-face {
  font-family: 'Borsok';
  src: url("../fonts/boorsok.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'RelOpen Sanseway';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.container {
  max-width: 955px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto; }

.section-title {
  font-family: 'Borsok';
  color: #333333;
  font-size: 24px;
  text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
  padding-left: 50px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .section-title {
      text-align: center;
      padding: 0; } }
  .section-title:after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -3px;
    left: 3px; }
    @media screen and (max-width: 768px) {
      .section-title:after {
        display: none; } }

textarea {
  resize: none; }

input {
  border: none; }

:focus {
  outline: none; }

body {
  font-family: 'Open sans', sans-serif;
  color: #333; }

a {
  text-decoration: none;
  color: #333;
  cursor: pointer; }

ul {
  list-style: none; }

button {
  border: none;
  transition: all .2s; }

.shadow--orange {
  text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900; }

.shadow--black {
  text-shadow: 2px 2px 0px #000, -2px -2px 0px #000; }

.pages {
  display: flex;
  justify-content: center; }
  .pages__number {
    color: #ff9900;
    font-size: 40px;
    border: 1px solid #009900;
    background-color: #fff;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    margin: 5px;
    text-align: center;
    font-weight: bold; }
    .pages__number:hover {
      background-color: #009900; }

.header .head {
  background: url("../img/bg-head.jpg") center center no-repeat;
  background-size: cover;
  padding: 25px 0 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  line-height: 25px; }
  @media screen and (max-width: 768px) {
    .header .head {
      display: block;
      text-align: center; } }
  .header .head__date {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .header .head__date {
        margin-bottom: 30px; } }
  .header .head__link {
    font-size: 16px;
    background-color: #009900;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    font-weight: bold;
    margin-right: 30px; }
    .header .head__link:hover {
      background-color: #ff9933; }
    @media screen and (max-width: 768px) {
      .header .head__link {
        margin: 0; } }
.header .navigation {
  background-color: #ff9900;
  padding: 15px 0;
  position: relative; }
  @media screen and (max-width: 768px) {
    .header .navigation {
      height: 60px;
      padding: 0; } }
  .header .navigation .open-menu {
    color: #fff;
    font-size: 55px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 15px;
    display: none; }
  @media screen and (max-width: 768px) {
    .header .navigation .open-menu {
      display: block; } }
  .header .navigation .menu {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .header .navigation .menu {
        display: none; } }
    .header .navigation .menu__item {
      margin: 0 35px; }
      .header .navigation .menu__item:first-child {
        position: relative;
        margin-right: 70px; }
        .header .navigation .menu__item:first-child::after {
          content: '';
          background: url("../img/burger.png") center center no-repeat;
          background-size: contain;
          position: absolute;
          width: 25px;
          height: 20px;
          top: 0;
          left: calc(100% + 10px);
          cursor: pointer; }
    .header .navigation .menu__link {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      padding: 14px 0; }
      .header .navigation .menu__link:hover {
        color: #009900; }
  .header .navigation .mobile-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 100%;
    padding: 50px 0;
    transition: all .3s;
    transform-origin: top;
    transform: scaleY(0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; }
    @media screen and (max-width: 768px) {
      .header .navigation .mobile-menu {
        display: block; } }
    .header .navigation .mobile-menu .dropdownlink {
      cursor: pointer;
      display: block;
      padding: 15px 0;
      font-size: 24px;
      border-bottom: 1px solid #ccc;
      color: #fff;
      position: relative;
      transition: all 0.4s ease-out; }
      .header .navigation .mobile-menu .dropdownlink i {
        position: absolute;
        top: 12px;
        left: 16px; }
      .header .navigation .mobile-menu .dropdownlink .fa-chevron-down {
        right: 30px;
        left: auto;
        width: 25px;
        height: 25px;
        background: url("../img/catalog/triangle.png") center center no-repeat; }
    .header .navigation .mobile-menu .submenuItems {
      display: none;
      padding-bottom: 20px; }
      .header .navigation .mobile-menu .submenuItems li {
        position: relative; }
      .header .navigation .mobile-menu .submenuItems .submenu3__title {
        background-color: #009900;
        font-size: 20px;
        color: #ff9900;
        font-weight: bold;
        padding: 7px 0; }
    .header .navigation .mobile-menu .submenuItems a {
      display: block;
      color: #fff;
      padding: 22px 0;
      transition: all 0.4s ease-out;
      font-size: 20px; }
      .header .navigation .mobile-menu .submenuItems a:hover {
        background-color: #CDDC39;
        color: #fff; }
  .header .navigation .accordion-menu {
    width: 100%; }
  .header .navigation .accordion-menu li.open .dropdownlink {
    color: #CDDC39;
    background-color: #009900; }
    .header .navigation .accordion-menu li.open .dropdownlink .fa-chevron-down {
      transform: rotate(90deg); }
  .header .navigation .accordion-menu li:last-child .dropdownlink {
    border-bottom: 0; }
  .header .navigation .close-menu {
    font-size: 55px;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer; }

.submenu {
  position: absolute;
  z-index: 999;
  min-width: 200px;
  top: 33px;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear; }

.submenu li {
  position: relative; }

.submenu a {
  color: #282828;
  font-size: 16px;
  background-color: #ff9900;
  border: 1px solid #009900;
  display: block;
  color: #fff;
  padding: 10px 0 10px 10px;
  position: relative; }
  .submenu a:hover {
    color: #009900; }

.submenu li a.fa:hover::after {
  transform: rotate(90deg); }
.submenu li a.fa::after {
  content: '';
  width: 12px;
  height: 17px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 17px solid #009900;
  position: absolute;
  top: 6px;
  right: 10px;
  transform: rotate(180deg);
  transition: all .1s; }

.submenu .submenu {
  position: absolute;
  left: 100%;
  top: 0;
  transition: .3s linear; }

nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1; }

.links-block-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 46px; }
  @media screen and (max-width: 768px) {
    .links-block-wrap {
      display: none; } }

.links-block {
  background-color: #fff;
  border: 2px solid #ff9900;
  padding: 14px 50px;
  display: inline-block; }
  .links-block a {
    font-size: 18px;
    font-weight: bold; }
  .links-block__this {
    color: #009900; }
  .links-block__prev, .links-block__this {
    position: relative;
    margin-left: 80px; }
    .links-block__prev::after, .links-block__this::after {
      content: '';
      width: 32px;
      height: 8px;
      background-color: #ff9900;
      position: absolute;
      top: calc(50% - 2px);
      left: -58px; }

.home-section {
  background: url("../img/bg1.jpg") top center no-repeat;
  background-size: cover;
  padding: 35px 0 50px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding-left: 50px;
  line-height: 35px; }
  @media screen and (max-width: 768px) {
    .home-section {
      padding-left: 0;
      text-align: center;
      background-position: top right; } }
  .home-section .home-title {
    font-size: 45px;
    color: #fff;
    font-family: 'Borsok';
    text-align: center;
    text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 70px; }
    @media screen and (max-width: 768px) {
      .home-section .home-title {
        font-size: 30px; } }
  .home-section .home-info {
    position: relative;
    margin-bottom: 77px;
    display: inline-block;
    z-index: 333; }
    .home-section .home-info::after {
      content: '';
      width: 260px;
      height: 150px;
      background-color: #ff6666;
      opacity: .3;
      position: absolute;
      top: -20px;
      left: calc(50%);
      transform: translateX(-150px);
      z-index: -1; }
      @media screen and (max-width: 768px) {
        .home-section .home-info::after {
          transform: translateX(-130px);
          height: 220px; } }
    .home-section .home-info--orange {
      color: #ff9900; }
    .home-section .home-info--green {
      color: #009900; }
  .home-section .home-years {
    margin-bottom: 25px; }
  .home-section .home-link {
    font-size: 18px;
    font-weight: bold;
    background-color: #ff9900;
    padding: 5px 44px;
    color: #fff;
    margin-left: 10px; }
    .home-section .home-link:hover {
      background-color: #009900; }

.animals-section {
  background-color: #66cc99;
  padding: 35px 0;
  position: relative; }
  .animals-section:after {
    content: '';
    width: 530px;
    height: 500px;
    background-color: #ff9900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-275px, -230px); }
    @media screen and (max-width: 768px) {
      .animals-section:after {
        display: none; } }
  .animals-section .animals-title:after {
    background-image: url("../img/track.png"); }
  .animals-section .animals-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px; }
  .animals-section .animals-item {
    margin: 0 12px 20px;
    width: 295px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    background-image: url("../img/item-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 48px;
    position: relative;
    z-index: 2; }
    .animals-section .animals-item:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      top: 0;
      left: 0; }
    .animals-section .animals-item__link {
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      background-color: #66cc99;
      border: 1px solid #ff9900;
      display: block;
      width: 240px;
      text-align: center;
      text-shadow: 2px 2px 0px #FF9900, -2px -2px 0px #FF9900;
      position: relative;
      z-index: 33; }
  .animals-section .animals-item1:after {
    background: url("../img/item1.png") center center no-repeat; }
  .animals-section .animals-item2:after {
    background: url("../img/item2.png") center center no-repeat; }
  .animals-section .animals-item3:after {
    background: url("../img/item3.png") center center no-repeat; }
  .animals-section .animals-item4:after {
    background: url("../img/item4.png") center center no-repeat; }
  .animals-section .animals-item5:after {
    background: url("../img/item5.png") center center no-repeat; }
  .animals-section .animals-item6:after {
    background: url("../img/item6.png") center center no-repeat; }

.popular-section {
  background: url("../img/bg2.png") center center no-repeat;
  background-size: cover;
  padding: 50px 0 0 0; }
  .popular-section .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .popular-section .container {
        display: block; } }
  @media screen and (max-width: 768px) {
    .popular-section .popular-title {
      margin-bottom: 25px; } }
  .popular-section .popular-title::after {
    background-image: url("../img/popular-icon.png"); }
  .popular-section .popular-nav {
    background-color: #fff;
    border-radius: 4px;
    padding: 12px 0; }
    @media screen and (max-width: 768px) {
      .popular-section .popular-nav {
        text-align: center; } }
    .popular-section .popular-nav__link {
      font-size: 20px;
      color: #ff9900;
      font-weight: bold;
      padding: 6px 25px; }
      @media screen and (max-width: 768px) {
        .popular-section .popular-nav__link {
          display: block; } }
      .popular-section .popular-nav__link:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .popular-section .popular-nav__link:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .popular-section .popular-nav__link:nth-of-type(2) {
        position: relative; }
        .popular-section .popular-nav__link:nth-of-type(2)::before, .popular-section .popular-nav__link:nth-of-type(2)::after {
          content: '';
          width: 4px;
          height: 30px;
          background-color: #999999;
          position: absolute;
          top: 3px; }
          @media screen and (max-width: 768px) {
            .popular-section .popular-nav__link:nth-of-type(2)::before, .popular-section .popular-nav__link:nth-of-type(2)::after {
              display: none; } }
        .popular-section .popular-nav__link:nth-of-type(2)::before {
          left: -5px; }
        .popular-section .popular-nav__link:nth-of-type(2)::after {
          right: -5px; }
      .popular-section .popular-nav__link:hover {
        color: #fff;
        background-color: #009900;
        border: 2px solid #ff9900; }
    .popular-section .popular-nav__link-active {
      color: #fff;
      background-color: #009900;
      border: 2px solid #ff9900; }
  .popular-section .popular-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .popular-section .popular-item {
    border: 1px solid #2d9e2b;
    width: 250px;
    background: url("../img/bg-item.png") center center no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    color: #666;
    font-size: 20px;
    margin: 30px; }
    .popular-section .popular-item__img {
      width: 100%;
      height: 195px;
      background: url("../img/monkey.png") center center no-repeat; }
    .popular-section .popular-item__info {
      background-color: #e5f5e5;
      border-top: 3px solid #ebebeb;
      border-bottom: 3px solid #ebebeb;
      padding: 15px 0; }
    .popular-section .popular-item__animal {
      font-size: 18px;
      padding-bottom: 18px; }
    .popular-section .popular-item__name {
      color: #009900; }
    .popular-section .popular-item__order {
      padding: 35px 0 43px; }
    .popular-section .popular-item__price {
      padding-bottom: 30px; }
      .popular-section .popular-item__price span {
        color: #ff9900; }
    .popular-section .popular-item__btn {
      font-size: 16px;
      color: #fff;
      background-color: #009900;
      border: 1px solid #ff9900;
      border-radius: 4px;
      padding: 4px 43px; }
      .popular-section .popular-item__btn:hover {
        background-color: #ff9900; }

.news-section {
  background: url("../img/bg3.png") center center no-repeat;
  background-size: cover;
  padding: 50px 0 0; }
  .news-section .container {
    padding-bottom: 110px; }
  .news-section .news-title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .news-section .news-title-wrap {
        display: block;
        text-align: center; } }
  .news-section .news-title::after {
    background-image: url("../img/news-icon.png");
    width: 50px;
    height: 50px;
    top: -10px;
    left: -11px; }
  .news-section .news-all__link {
    font-size: 22px;
    font-weight: normal; }
  .news-section .news-wrap {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .news-section .news-wrap {
        display: block; } }
  .news-section .news-item {
    background: url("../img/wolf.png") center top no-repeat;
    background-size: contain;
    width: 215px;
    height: 177px;
    display: flex;
    align-items: flex-end;
    position: relative; }
    @media screen and (max-width: 768px) {
      .news-section .news-item {
        margin: 5px;
        margin-bottom: 10px; } }
    .news-section .news-item__text {
      color: #333;
      background-color: #fff;
      border: 2px solid #ff9900;
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      width: 100%; }
  .news-section .news-date {
    width: 50px;
    height: 72px;
    border: 2px solid #ff9900;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: -20px;
    right: 25px; }
    @media screen and (max-width: 768px) {
      .news-section .news-date {
        top: 0;
        right: 0; } }
    .news-section .news-date p {
      font-size: 20px;
      font-weight: bold;
      color: #009900;
      line-height: 30px; }
      .news-section .news-date p span {
        font-weight: normal; }
  .news-section .news-home {
    background: url("../img/wolf.png") center center no-repeat;
    background-size: cover;
    display: block;
    width: 800px;
    height: 400px;
    margin-right: 30px;
    position: relative;
    display: flex;
    align-items: flex-end; }
    @media screen and (max-width: 768px) {
      .news-section .news-home {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px; } }
    .news-section .news-home__text {
      width: 100%;
      display: block;
      padding: 15px 0; }
  .news-section .news-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }
    @media screen and (max-width: 768px) {
      .news-section .news-all {
        justify-content: center; } }
  .news-section .news-footer {
    background-color: #ff9900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 15px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .news-section .news-footer {
        display: block;
        text-align: center;
        padding-top: 100px; } }
    .news-section .news-footer::after {
      content: '';
      width: 270px;
      height: 240px;
      background: url("../img/monkey2.png") center center no-repeat;
      position: absolute;
      left: 20px;
      top: -28px; }
      @media screen and (max-width: 768px) {
        .news-section .news-footer::after {
          width: 200px;
          height: 170px;
          background-size: cover;
          top: -70px;
          left: 70px; } }
    .news-section .news-footer__title {
      font-size: 29px;
      color: #fff;
      font-family: 'Borsok';
      letter-spacing: 2px;
      margin-bottom: 27px; }
    .news-section .news-footer__text {
      font-size: 24px;
      color: #fff;
      line-height: 28px;
      padding-left: 65px; }
      @media screen and (max-width: 768px) {
        .news-section .news-footer__text {
          padding-left: 0;
          margin-bottom: 20px; } }
    .news-section .news-footer__socials-item {
      margin-left: 30px; }
  .news-section .news-footer-wrap {
    margin-right: 10px;
    position: relative;
    z-index: 44; }
    @media screen and (max-width: 768px) {
      .news-section .news-footer-wrap {
        margin-right: 0; } }

.why-section {
  background: url("../img/bg4.png") center center no-repeat;
  background-size: cover;
  font-weight: bold;
  padding: 50px 0; }
  .why-section .why-title::after {
    background-image: url("../img/why-icon.png");
    width: 55px;
    left: -8px; }
  .why-section .why-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px; }
  .why-section .why-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    width: 295px;
    margin: 0 10px;
    padding: 20px 0;
    margin-bottom: 5px; }
    .why-section .why-item__title {
      color: #333333;
      font-size: 20px;
      margin-bottom: 15px; }
    .why-section .why-item__text {
      color: #666;
      font-size: 16px;
      text-align: left;
      padding-left: 10px;
      line-height: 20px; }

.search-section {
  color: #fff;
  background-color: #66cc99;
  display: flex;
  justify-content: flex-end;
  padding: 25px 90px 55px 0;
  position: relative; }
  @media screen and (max-width: 768px) {
    .search-section {
      display: block;
      text-align: center;
      padding: 80px 0 60px; } }
  .search-section::after {
    content: '';
    width: 395px;
    height: 275px;
    background: url("../img/gipard.png") center center no-repeat;
    position: absolute;
    top: -20px;
    left: 15px; }
    @media screen and (max-width: 768px) {
      .search-section::after {
        width: 165px;
        height: 112px;
        background-size: cover;
        top: -24px;
        left: 70px; } }
  .search-section .search-title {
    font-size: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 33; }
  .search-section .search-text {
    font-size: 24px;
    padding-left: 75px;
    position: relative;
    z-index: 33; }
    @media screen and (max-width: 768px) {
      .search-section .search-text {
        padding: 0;
        margin-bottom: 50px; } }
  .search-section .search-link {
    background-color: #ff9900;
    font-size: 24px;
    border-radius: 4px;
    padding: 9px 18px;
    color: #fff;
    position: absolute;
    top: 52px;
    right: 67px; }
    @media screen and (max-width: 768px) {
      .search-section .search-link {
        position: static; } }
    .search-section .search-link:hover {
      background-color: #009900; }

.about-section {
  background: url("../img/bg5.png") center center no-repeat;
  background-size: cover;
  padding: 70px 0; }
  @media screen and (max-width: 768px) {
    .about-section {
      text-align: center; } }
  .about-section .about-title {
    margin-bottom: 70px; }
    .about-section .about-title::after {
      background-image: url("../img/about-icon.png");
      top: -7px; }
  .about-section .content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .about-section .content-wrap {
        flex-wrap: wrap; } }
    .about-section .content-wrap__text {
      padding-right: 109px; }
      @media screen and (max-width: 768px) {
        .about-section .content-wrap__text {
          padding: 0; } }
    @media screen and (max-width: 768px) {
      .about-section .content-wrap__img {
        margin: 0 auto; } }
  .about-section .content-title {
    font-family: 'Borsok';
    color: #ff6666;
    font-size: 20px;
    margin-bottom: 25px; }
  .about-section .content-title--mini {
    font-family: 'Open sans', sans-serif;
    font-size: 16px; }
  .about-section .content-text {
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px; }
    .about-section .content-text__orange {
      color: #ff6666;
      font-weight: bold; }
      @media screen and (max-width: 768px) {
        .about-section .content-text__orange {
          margin-bottom: 20px; } }

.home-section-catalog {
  background: url("../img/catalog/bg1.jpg") center no-repeat;
  background-size: cover; }

.home-section-yavanskaya {
  background: url("../img/tovar/bg1.jpg") center no-repeat;
  background-size: cover; }

.catalog-section {
  background-color: #7ec999;
  font-weight: bold; }
  .catalog-section .catalog-title {
    margin-left: 30px;
    margin-bottom: 40px; }
    .catalog-section .catalog-title:after {
      background-image: url("../img/track.png"); }
  .catalog-section .catalog-wrap {
    padding: 0 25px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .catalog-section .catalog-wrap {
        display: block; } }
  .catalog-section .sidebar {
    width: 295px; }
    @media screen and (max-width: 768px) {
      .catalog-section .sidebar {
        width: 100%; } }
    .catalog-section .sidebar .accordion-menu {
      width: 100%;
      background: #fff; }
    .catalog-section .sidebar .accordion-menu li .dropdownlink {
      background-color: #009900;
      border: 2px solid #ff9900; }
    .catalog-section .sidebar .accordion-menu li.open .dropdownlink {
      color: #CDDC39;
      background-color: #009900; }
      .catalog-section .sidebar .accordion-menu li.open .dropdownlink .fa-chevron-down {
        transform: rotate(90deg); }
    .catalog-section .sidebar .accordion-menu li:last-child .dropdownlink {
      border-bottom: 0; }
    .catalog-section .sidebar .dropdownlink {
      cursor: pointer;
      display: block;
      padding: 15px 15px 15px 65px;
      font-size: 24px;
      border-bottom: 1px solid #ccc;
      color: #fff;
      position: relative;
      transition: all 0.4s ease-out; }
      .catalog-section .sidebar .dropdownlink i {
        position: absolute;
        top: 12px;
        left: 16px; }
      .catalog-section .sidebar .dropdownlink .fa-chevron-down {
        right: 12px;
        left: auto;
        width: 25px;
        height: 25px;
        background: url("../img/catalog/triangle.png") center center no-repeat; }
      .catalog-section .sidebar .dropdownlink .fa-line {
        width: 32px;
        height: 2px;
        background-color: #fff;
        top: 26px; }
    .catalog-section .sidebar .submenuItems {
      display: none;
      padding-bottom: 20px; }
      .catalog-section .sidebar .submenuItems li {
        position: relative; }
        .catalog-section .sidebar .submenuItems li::after {
          content: '';
          width: 177px;
          height: 2px;
          background-color: #999;
          position: absolute;
          bottom: 0;
          right: 22px; }
      .catalog-section .sidebar .submenuItems .fa-active::before {
        content: '';
        position: absolute;
        width: 55px;
        height: 34px;
        background-color: #ff9900;
        top: 12px;
        right: 10px; }
      .catalog-section .sidebar .submenuItems .fa-active::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #ff9900;
        top: 27px;
        right: 63px; }
    .catalog-section .sidebar .submenuItems a {
      display: block;
      color: #727272;
      padding: 22px 12px 22px 45px;
      transition: all 0.4s ease-out; }
      .catalog-section .sidebar .submenuItems a:hover {
        background-color: #CDDC39;
        color: #fff; }
    .catalog-section .sidebar .advertising-item {
      width: 100%;
      height: 277px;
      background-color: #009900;
      display: flex;
      align-items: flex-end;
      border: 1px solid #ff9900;
      margin-top: 30px; }
      @media screen and (max-width: 768px) {
        .catalog-section .sidebar .advertising-item {
          width: 300px;
          margin: 15px auto; } }
      .catalog-section .sidebar .advertising-item__title {
        padding: 15px 0;
        background-color: #fff;
        text-align: center;
        border-top: 1px solid #ff9900;
        width: 100%; }
  .catalog-section .catalog {
    width: 780px;
    padding-bottom: 20px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .catalog-section .catalog {
        width: 100%; } }
  .catalog-section .tovar {
    width: 780px;
    padding-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .catalog-section .tovar {
        width: 100%; } }
    .catalog-section .tovar__title {
      font-family: 'Borsok';
      font-size: 30px;
      color: #fff;
      text-align: center;
      letter-spacing: 3px;
      margin: -40px 0 80px; }
      @media screen and (max-width: 768px) {
        .catalog-section .tovar__title {
          margin: 0 0 50px; } }
    .catalog-section .tovar .catalog-item {
      margin-bottom: 30px; }
    .catalog-section .tovar .catalog-item__buttons {
      display: flex;
      justify-content: center; }
    .catalog-section .tovar .catalog-item__btn {
      padding: 7px 20px; }
    .catalog-section .tovar .tovar-images {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: -30px;
      position: relative;
      margin-bottom: 80px; }
      .catalog-section .tovar .tovar-images__item {
        width: 100%;
        height: 170px;
        margin: 0 0 30px 30px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 2; }
        .catalog-section .tovar .tovar-images__item::after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 22;
          transition: .1s;
          transform: scale(0);
          background-image: url("../img/tovar/zoom.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 50px 50px; }
        .catalog-section .tovar .tovar-images__item:hover::after {
          transform: scale(1); }
      .catalog-section .tovar .tovar-images__item--1x {
        max-width: 200px; }
      .catalog-section .tovar .tovar-images__item--2x {
        max-width: 300px; }
      .catalog-section .tovar .tovar-images::before, .catalog-section .tovar .tovar-images::after {
        content: '';
        width: 550px;
        height: 5px;
        background-color: #ff9900;
        position: absolute;
        top: -30px; }
        @media screen and (max-width: 1024px) {
          .catalog-section .tovar .tovar-images::before, .catalog-section .tovar .tovar-images::after {
            width: 670px; } }
        @media screen and (max-width: 480px) {
          .catalog-section .tovar .tovar-images::before, .catalog-section .tovar .tovar-images::after {
            display: none; } }
      .catalog-section .tovar .tovar-images::before {
        left: 45px;
        transform-origin: left;
        transform: rotate(60deg); }
        @media screen and (max-width: 1024px) {
          .catalog-section .tovar .tovar-images::before {
            transform: rotate(70deg); } }
      .catalog-section .tovar .tovar-images::after {
        right: 13px;
        transform-origin: right;
        transform: rotate(-60deg); }
        @media screen and (max-width: 1024px) {
          .catalog-section .tovar .tovar-images::after {
            transform: rotate(-70deg); } }
    .catalog-section .tovar .tovar-video {
      text-align: center;
      margin-bottom: 60px; }
      .catalog-section .tovar .tovar-video video {
        width: 500px; }
        @media screen and (max-width: 768px) {
          .catalog-section .tovar .tovar-video video {
            width: 300px; } }
    .catalog-section .tovar .tovar-similar {
      max-width: 620px;
      width: 100%;
      margin: 0 auto;
      position: relative; }
      @media screen and (max-width: 768px) {
        .catalog-section .tovar .tovar-similar {
          max-width: 310px; } }
      .catalog-section .tovar .tovar-similar::after {
        content: '';
        width: 520px;
        height: 6px;
        background-color: #ff9900;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
      .catalog-section .tovar .tovar-similar__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 60px; }
      .catalog-section .tovar .tovar-similar__img-name {
        font-size: 24px;
        color: #fff;
        text-align: center;
        margin-top: -40px;
        margin-bottom: 40px; }
      .catalog-section .tovar .tovar-similar .slick-slide {
        outline: none; }
      .catalog-section .tovar .tovar-similar .slick-prev, .catalog-section .tovar .tovar-similar .slick-next {
        top: calc(50% - 70px);
        z-index: 333; }
        .catalog-section .tovar .tovar-similar .slick-prev::before, .catalog-section .tovar .tovar-similar .slick-next::before {
          display: none; }
        .catalog-section .tovar .tovar-similar .slick-prev:after, .catalog-section .tovar .tovar-similar .slick-next:after {
          content: '';
          width: 55px;
          height: 125px;
          position: absolute;
          background: url("../img/tovar/arrow.png") top no-repeat; }
      .catalog-section .tovar .tovar-similar .slick-prev {
        left: -77px; }
        .catalog-section .tovar .tovar-similar .slick-prev:after {
          transform: rotate(180deg); }
      .catalog-section .tovar .tovar-similar .slick-next {
        right: -14px; }

.catalog-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 75px;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .catalog-item {
      display: block; } }
  @media screen and (max-width: 768px) {
    .catalog-item {
      display: block;
      font-size: 20px; } }
  .catalog-item::after {
    content: '';
    position: absolute;
    width: 513px;
    height: 6px;
    background-color: #ff9900;
    bottom: 0;
    left: calc(50% - 256px); }
  .catalog-item__img {
    position: relative; }
    .catalog-item__img-name {
      font-size: 24px;
      color: #fff;
      text-align: center;
      margin-top: -40px;
      margin-bottom: 40px; }
    @media screen and (max-width: 1024px) {
      .catalog-item__img {
        text-align: center; } }
    @media screen and (max-width: 768px) {
      .catalog-item__img {
        text-align: center; } }
  .catalog-item__description {
    text-align: center; }
  .catalog-item__info span {
    color: #ffff; }
  .catalog-item__price {
    margin-top: 35px;
    margin-bottom: 16px; }
  .catalog-item__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; }
    @media screen and (max-width: 768px) {
      .catalog-item__buttons {
        display: block; } }
  .catalog-item__btn {
    color: #fff;
    font-size: 16px;
    padding: 7px 50px;
    border-radius: 6px;
    border: 1px solid #ff9900; }
    @media screen and (max-width: 768px) {
      .catalog-item__btn {
        display: inline-block;
        margin: 10px 0; } }
  .catalog-item__btn--green {
    background-color: #009900; }
    .catalog-item__btn--green:hover {
      background-color: #ff9900; }
  .catalog-item__btn--orange {
    background-color: #ff9900; }
    .catalog-item__btn--orange:hover {
      background-color: #009900; }

.articles-section {
  background-color: #7ec999; }
  .articles-section .articles-title-wrap {
    background-color: #fff;
    padding: 15px; }
    .articles-section .articles-title-wrap .links-block-wrap {
      justify-content: flex-start;
      align-items: center;
      margin: 0; }
      @media screen and (max-width: 768px) {
        .articles-section .articles-title-wrap .links-block-wrap .links-block {
          display: none; } }
      @media screen and (max-width: 768px) {
        .articles-section .articles-title-wrap .links-block-wrap {
          display: block; } }
      @media screen and (max-width: 768px) {
        .articles-section .articles-title-wrap .links-block-wrap .articles-title {
          display: block; } }
  .articles-section .articles-title {
    margin-left: 50px; }
    .articles-section .articles-title::after {
      background-image: url("../img/articles/articles-icon.png");
      width: 50px;
      height: 50px;
      top: -10px;
      left: -20px; }
  .articles-section .articles-wrap {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    position: relative; }
    .articles-section .articles-wrap::after {
      content: '';
      width: 360px;
      height: 8px;
      background-color: #ff9900;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 444; }
    @media screen and (max-width: 768px) {
      .articles-section .articles-wrap {
        display: block; } }
  .articles-section .articles-main {
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      .articles-section .articles-main {
        margin: 0; } }
    .articles-section .articles-main .articles-item {
      background-image: url("../img/articles/item1.png");
      width: 470px;
      height: 380px; }
      @media screen and (max-width: 768px) {
        .articles-section .articles-main .articles-item {
          margin: 0 auto;
          background-position: right center;
          width: 100%; } }
  .articles-section .articles-all {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between; }
    @media screen and (max-width: 1024px) {
      .articles-section .articles-all {
        justify-content: center; } }
    .articles-section .articles-all .articles-item {
      background-image: url("../img/articles/item2.png");
      width: 300px;
      height: 180px; }
      .articles-section .articles-all .articles-item__title {
        font-size: 20px; }
      @media screen and (max-width: 1024px) {
        .articles-section .articles-all .articles-item {
          margin-bottom: 15px; } }
      @media screen and (max-width: 768px) {
        .articles-section .articles-all .articles-item {
          margin: 15px; } }

.articles-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  color: #ff9900;
  display: flex;
  align-items: flex-end; }
  .articles-item__info {
    background-color: #fff;
    width: 100%;
    padding: 5px 20px; }
  .articles-item__title {
    font-size: 24px;
    text-align: center; }
  .articles-item__description {
    font-size: 18px;
    line-height: 30px; }

.articles-other {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 60px;
  margin-left: -15px; }
  @media screen and (max-width: 768px) {
    .articles-other {
      flex-wrap: wrap;
      justify-content: center; } }
  .articles-other .articles-item {
    width: 550px;
    height: 365px;
    margin-left: 15px;
    background-image: url("../img/articles/item1.png");
    margin-bottom: 15px;
    background-position: center; }
    @media screen and (max-width: 768px) {
      .articles-other .articles-item {
        background-position: right center; } }
    .articles-other .articles-item__title {
      text-align: left; }

.subarticles-section {
  background-color: #7ec999;
  padding: 80px 15px; }
  @media screen and (max-width: 768px) {
    .subarticles-section {
      padding: 30px 15px; } }
  .subarticles-section .articles-other {
    padding: 0; }
  .subarticles-section .subarticles-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    @media screen and (max-width: 1024px) {
      .subarticles-section .subarticles-wrap {
        justify-content: center; } }
  .subarticles-section .subarticles-item {
    color: #ff9900;
    display: flex;
    width: 550px;
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      .subarticles-section .subarticles-item {
        flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .subarticles-section .subarticles-item__img {
        width: 100%;
        text-align: center; } }
    .subarticles-section .subarticles-item__description {
      background-color: #fff;
      width: 100%;
      padding: 15px 0 0 0;
      border: 2px solid #ff9900;
      border-bottom: none; }
    .subarticles-section .subarticles-item__title {
      font-size: 30px;
      margin-bottom: 18px;
      padding-left: 35px; }
    .subarticles-section .subarticles-item__text {
      font-size: 18px;
      margin-bottom: 15px;
      padding-left: 35px; }
    .subarticles-section .subarticles-item__link {
      border: 2px solid #009900;
      background-color: #ff9900;
      background-image: url("../img/articles/arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 100%;
      padding: 30px 0; }
      .subarticles-section .subarticles-item__link:hover {
        background-color: #009900; }
  .subarticles-section .pages {
    margin-top: 50px; }

.articles-news {
  background: none;
  background-color: #7ec999;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .articles-news {
      padding-top: 50px; } }

.popup-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s; }

#popup1 {
  transform: scale(0); }

#popup2 {
  transform: scale(0); }

.popup {
  transition: all .3s;
  width: 600px;
  height: 550px;
  background: url("../img/popup/popup-bg.png") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100; }
  .popup__logo {
    padding: 8px 0;
    text-align: center; }
  .popup__title {
    font-family: 'Borsok';
    font-size: 17px;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 0; }
    @media screen and (max-width: 768px) {
      .popup__title {
        font-size: 15px;
        line-height: 19px; } }
  .popup__link {
    font-size: 13px;
    color: #000;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); }
    .popup__link:hover {
      text-decoration: underline; }
  .popup .popup-form {
    display: flex;
    justify-content: center; }
    .popup .popup-form table {
      border-collapse: separate;
      border-spacing: 30px 20px; }
      @media screen and (max-width: 768px) {
        .popup .popup-form table {
          border-spacing: 10px 15px; } }
    .popup .popup-form tr {
      height: 25px; }
    .popup .popup-form__label-td {
      text-align: right; }
    .popup .popup-form__label {
      font-family: 'Borsok';
      color: #fff;
      font-size: 18px;
      line-height: 25px; }
      @media screen and (max-width: 768px) {
        .popup .popup-form__label {
          font-size: 13px;
          line-height: 10px; } }
    .popup .popup-form__input {
      border: none;
      border-radius: 15px;
      width: 158px;
      height: 30px;
      padding: 0 15px; }
    .popup .popup-form__text {
      width: 265px;
      height: 65px;
      padding: 15px;
      border: none;
      border-radius: 15px;
      resize: none; }
      @media screen and (max-width: 768px) {
        .popup .popup-form__text {
          width: 200px; } }
    .popup .popup-form__file {
      background-color: #ff9900;
      color: #fff; }
    .popup .popup-form__btn {
      background-color: #ff9900;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      display: block;
      margin: 0 auto;
      transition: all .3s; }
      .popup .popup-form__btn:hover {
        background-color: #009900; }
  .popup .close-popup {
    color: #000;
    font-size: 40px;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer; }

.footer {
  background: url("../img/bg-footer.png") center center no-repeat;
  background-size: cover;
  color: #48946c;
  font-size: 17px;
  font-weight: bold;
  padding: 30px;
  position: relative; }
  .footer a {
    font-size: 17px;
    color: #48946c;
    font-weight: bold;
    cursor: pointer; }
  .footer h3 {
    color: #fff;
    font-size: 18px; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .footer .footer-wrap {
        display: block;
        text-align: center; } }
  .footer .footer-logo {
    width: 310px; }
    @media screen and (max-width: 768px) {
      .footer .footer-logo {
        width: 100%;
        margin-bottom: 30px; } }
    .footer .footer-logo__img {
      margin-bottom: 30px; }
  .footer .footer-title {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .footer .footer-title {
        margin-bottom: 15px; } }
  .footer .footer-menu__item {
    margin-bottom: 8px; }
  .footer .footer-menu__link:hover {
    color: #fff; }
  @media screen and (max-width: 768px) {
    .footer .footer-about {
      margin-bottom: 35px; } }
  @media screen and (max-width: 768px) {
    .footer .footer-popular {
      margin-bottom: 35px; } }
  .footer .footer-contacts__item {
    margin-bottom: 25px; }
  .footer .footer-contacts__link {
    color: #fff; }
    .footer .footer-contacts__link:hover {
      color: #48946c; }
  .footer .footer-socials {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 130px); }
    @media screen and (max-width: 768px) {
      .footer .footer-socials {
        position: static;
        padding-top: 25px;
        display: block; } }
    .footer .footer-socials__link {
      margin: 0 15px; }
      .footer .footer-socials__link:hover {
        transform: translateY(-7px); }

/*# sourceMappingURL=style.css.map */
