section.home {
	padding-top: 140px;
	padding-bottom: 270px;
	@media screen and (max-width: 640px) {
    	padding-top: 90px;
    	padding-bottom: 90px;
	}
	.home-title {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 10px;
		h1 {
			font-size: 42px;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 1.2em;
		}
		p {
			font-size: 21px;
			font-weight: 500;
		}
		p.sub-title {
			font-weight: 400;
			line-height: 1.5em;
			margin-bottom: 48px;
		}
		
		p.online {
			text-transform: uppercase;
			letter-spacing: .2em;
			line-height: 2em;
			margin-bottom: 45px;
			span {
				color: #fff;
				background-color: #ff0344;
				padding: 2px 3px 2px 5px;
			}
		}
		button {
			border-radius: 4px;
			padding: 18px 85px;
			&:hover {
				border-radius: 6px;
				-webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33); 
				box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33);
			}
		}
		button.game {
			background: #1B56AE;
            background: -moz-linear-gradient(left, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
            background: -webkit-linear-gradient(left, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
            background: linear-gradient(to right, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
            font-size: 21px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: .2em;
            margin-right: 30px;
            @media screen and (max-width: 640px) {
    			margin-bottom: 25px;
			}
		}
		button.video {
			border: 2px solid #696b6c;
			font-size: 17px;
			padding: 18px  50px 18px 70px;
			position: relative;
			&::before {
				content: '';
				background-image: url('../img/icons/play.png');
				background-repeat: no-repeat;
				position: absolute;
				width: 12px;
				height: 13px;
				top: calc(50% - 6px);
				left: 40px;
			}
			&:hover {
				background: #1B56AE;
                background: -moz-linear-gradient(left, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
                background: -webkit-linear-gradient(left, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
                background: linear-gradient(to right, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
				color: #fff;
			}
		}
	}
	.server {
		background-color: #fff;
		max-width: 885px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px 140px 25px 180px;
		margin-top: 200px;
		border-radius: 3px;
		-webkit-box-shadow: -1px -1px 38px -4px rgba(0,0,0,0.32); 
		box-shadow: -1px -1px 38px -4px rgba(0,0,0,0.32);
		@media screen and (max-width: 640px) {
    		display: block;
    		width: 98%;
    		margin-top: 30px;
    		padding: 30px 30px;
		}
		.server-info {
			position: relative;
			h3 {
				font-size: 21px;
				font-weight: 500;
				text-transform: uppercase;
			}
			p {
				font-size: 21px;
				font-weight: 200;
				margin: 16px 0;
			}
			p.ip {
				font-size: 15px;
				font-weight: 300;
				text-transform: uppercase;
			}
			.bar {
				width: 90px;
				height: 15px;
				background-color: #ddd;
				border-radius: 20px;
				transform: rotate(-90deg);
				position: absolute;
				top: 40px;
				left: -85px;
				.bar-progress {
					width: 40%;
					height: 100%;
					border-radius: 20px;
					background: #2167D1;
	                background: -moz-linear-gradient(left, #2167D1 0%, #01335C 100%);
	                background: -webkit-linear-gradient(left, #2167D1 0%, #01335C 100%);
	                background: linear-gradient(to right, #2167D1 0%, #01335C 100%);
				}
			}
		}
		button {
			border-radius: 4px;
			padding: 15px 30px;
			background: #1B56AE;
            background: -moz-linear-gradient(left, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
            background: -webkit-linear-gradient(left, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
            background: linear-gradient(to right, #1B56AE 0%, #1C6EA4 47%, #028CFB 100%);
            font-size: 13px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: .2em;
            @media screen and (max-width: 640px) {
    			font-size: 11px;
			}
            &:hover {
				border-radius: 6px;
				-webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33); 
				box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33);
			}
		}
	}
}
section.donat {
	text-align: center;
	padding-bottom: 270px;
	@media screen and (max-width: 640px) {
    	padding-bottom: 120px;
	}
	form {
		margin-top: 220px;
		select {
			background-color: #fff;
			border-radius: 3px;
			border: none;
			padding: 10px 15px 10px 60px;
			color: #ccc;
			font-size: 19px;
			width: 290px;
			height: 65px;
			background-image: url(../img/icons/server.png);
			background-repeat: no-repeat;
			background-position: 13px 18px;
		}
		input[type="text"] {
			background-color: transparent;
			border: 1px solid #fff;
			border-radius: 3px;
			padding: 10px 15px 10px 60px;
			color: #fff;
			font-size: 19px;
			margin-top: 25px;
			width: 290px;
			height: 65px;
			position: relative;
			&::placeholder {
				color: #fff;
			}
			&::-moz-placeholder {
				color: #fff;
			}
			&::-webkit-input-placeholder {
				color: #fff;
			}
		}
		input.name {
			background-image: url(../img/icons/nik.png);
			background-repeat: no-repeat;
			background-position: 13px 18px;
		}
		input.sum {
			background-image: url(../img/icons/sum.png);
			background-repeat: no-repeat;
			background-position: 13px 18px;
		}
		input[type="button"] {
			padding: 20px 30px;
			background-color: #ff034a;
			color: #fff;
			border: none;
			border-radius: 4px;
			font-weight: 600;
			margin-top: 25px;
			&:hover {
				border-radius: 10px;
				-webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33); 
				box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33);
			}
		}
	}
}

section.vkontakte {
	text-align: center;
	padding-bottom: 185px;
	@media screen and (max-width: 640px) {
    	padding-bottom: 90px;
	}
	.section-title h2 {
		text-transform: none;
	}
	.vkontakte-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 115px;
		.block-item {
			display: flex;
			@media screen and (max-width: 640px) {
    			display: block;
    			text-align: center;
			}
			.thumb {
				width: 135px;
				height: 135px;
				border-radius: 50%;
				background-color: #177de8;
				margin-bottom: 70px;
				@media screen and (max-width: 640px) {
    				margin: 0 auto;
				}
			}
			.item-info {
				text-align: left;
				margin-left: 30px;
				padding-top: 40px;
				@media screen and (max-width: 640px) {
    				margin: 0;
    				text-align: center;
				}
				h3 {
					font-size: 27px;
					font-weight: bold;
				}
				p {
					font-size: 22px;
					font-weight: normal;
					line-height: 1.6em;
				}
				a {
					color: #fff;
					text-transform: uppercase;
					background-color: #ff034a;
					font-size: 17px;
					border-radius: 4px;
					padding: 8px 35px;
					display: inline-block;
					margin-top: 27px;
					@media screen and (max-width: 640px) {
						margin-top: 15px;
						margin-bottom: 80px;
					}
					&:hover {
						border-radius: 6px;
						-webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33); 
						box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.33);
					}

				}
			}
		}
	}
}

section.start {
	background-color: #f6fafc;
	text-align: center;
	padding-top: 145px;
	.section-title {
		margin-bottom: 115px;
	}
	.container {
		width: 1300px;
		margin: 0 auto;
		.step-info {
		text-align: left;
		margin-top: 50px;
			p {
				font-size: 21px;
				font-weight: normal;
				color: #a8aaab;
			}
			p.step-text {
				font-size: 56px;
				font-weight: 800;
				text-transform: uppercase;
				color: #ebeef0;
				margin-bottom: 30px;
			}
			h4 {
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 500;
				margin-bottom: 10px;
			}
			 a {

			 }
		}
		.step-left, .step-right {
			display: flex;

		}

		.step-left {
			
			.step-info {
				margin-left: 100px;
			}
		}
		.step-right {
			
		}
	}
	
}