footer {
	.head-footer {
		width: 100%;
		height: 16px;
		background: -webkit-linear-gradient(rgba(231,146,24,1) 0%, rgba(245,170,11,1) 14%, rgba(255,184,0,1) 21%, rgba(255,184,0,1) 21%, rgba(255,184,0,1) 100%);
		background: -o-linear-gradient(rgba(231,146,24,1) 0%, rgba(245,170,11,1) 14%, rgba(255,184,0,1) 21%, rgba(255,184,0,1) 21%, rgba(255,184,0,1) 100%);
		background: linear-gradient(rgba(231,146,24,1) 0%, rgba(245,170,11,1) 14%, rgba(255,184,0,1) 21%, rgba(255,184,0,1) 21%, rgba(255,184,0,1) 100%);
		border-bottom: 1px solid #000;
	}
	.footer {
		background-color: #333;
		border-top: 1px solid #3a3a3a;
		padding: 20px 0 30px 0;
		.wrapper {
			display: flex;
			justify-content: space-between;
			.copyright {
				width: 30%;
				p {
					line-height: 1.3em;
					color: #fff;
					font-size: #cbcbcb;
					font-size: 11px;
					&:last-of-type {
						margin-top: 16px;
					}
					a {
						color: #fff;
						font-size: 11px;
						@media screen and (max-width: 1100px) {
							display: block;
						}
					}
				}
			}
			.footer-links {
				display: block;
				width: 100%;
				margin-left: 50px;
				a {
					font-size: 12px;
					color: #ffb900;
					line-height: 1.3em;
				}
			}
			.empty-blocks {
				display: flex;
				.empty-block {
					width: 90px;
					height: 32px;
					background-color: #515151;
					margin-left: 10px;
				}

			}
		}
	}
}