@font-face {
  font-family: 'Muller';
  src: url("../fonts/Fontfabric - MullerRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muller';
  src: url("../fonts/Fontfabric - MullerLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Muller';
  src: url("../fonts/Fontfabric - MullerBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Muller';
  src: url("../fonts/Fontfabric - MullerMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Muller';
  src: url("../fonts/Fontfabric - MullerExtraBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal; }
body {
  font-family: 'Muller'; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1152px;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

.btn-primary {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  background-color: #0bae9f;
  padding: 14px 38px;
  border-radius: 25px; }

.header {
  background-color: #081734;
  padding: 25px 0; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .navigation {
    font-weight: 500;
    display: flex;
    align-items: center; }
    .header .navigation__link {
      margin-right: 60px;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase; }
    .header .navigation__btn {
      margin-right: 100px; }
    .header .navigation__login {
      font-size: 17px;
      color: #0bafa0;
      margin-right: 30px;
      position: relative; }
      .header .navigation__login::after {
        content: '';
        background-image: url("../img/icons/Userpic.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 45px;
        height: 45px;
        display: block;
        position: absolute;
        top: -15px;
        left: -55px; }
    .header .navigation__lang {
      display: block;
      width: 31px;
      height: 23px;
      background-image: url("../img/rus.png"); }

.home {
  text-align: center;
  background: url("../img/bg-back.png") bottom center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative; }
  .home::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0; }
  .home::before {
    content: '';
    border-bottom: 155px solid #fff;
    border-left: 100vw solid transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 111; }
  .home-wrapper {
    background: url("../img/bg.jpg") center -80px no-repeat;
    background-size: 1366px;
    padding-top: 105px;
    padding-bottom: 160px; }
  .home-content {
    position: relative;
    z-index: 22; }
  .home__title {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 63px; }
  .home__info {
    font-size: 31px;
    font-weight: bold;
    margin-top: 15px;
    line-height: 35px; }
  .home__btn {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 38px;
    font-size: 19px;
    padding: 20px 38px;
    border-radius: 30px; }
  .home__link {
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #ffc600; }

/*# sourceMappingURL=style.css.map */
